<% var data = {
title: "Трансгруз"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="section no-padding">
    <div class="section-bg" style="background-image: url(./img/about-section.jpg)">
        <div class="container">
            <div class="section-bg__content">
                <div class="breadcrumbs color-white">
                    <a class="item link hide-desktop" href="#"><i class="icon icon-left-arrow-1"></i></a>
                    <a class="item link " href="#">Главная</a>
                    <div class="item divider hide-mobile"><i class="icon icon-right-arrow"></i></div>
                    <div class="item hide-mobile">О компании</div>
                </div>
            </div>
            <div class="caption-with-button margin-bottom">
                <h1 class="h3 margin-bottom color-white">О компании</h1>
            </div>
        </div>
    </div>
</div>

<i class="ico"></i>

<div class="section">
    <div class="container">
        <p class="normal-text">История ООО "Специализированный застройщик "Трансгруз" началась в 1997 году. В 2002 году организация получила лицензию на строительство и приступила к проектированию и возведению
            современных торгово-офисных зданий и жилых комплексов.</p>
        <p class="normal-text">
            Более чем за 20 лет стабильной работы на рынке ООО "Специализированный застройщик "Трансгруз" зарекомендовало себя как надежная, динамично развивающаяся компания, осуществляющая весь спектр строительных работ, связанных с недвижимостью в Самаре. На сегодняшний день компания представляет собой мощную промышленно-строительную корпорацию, которая объединяет в своей структуре 30 производственных, строительных и транспортных предприятий.
        </p>


    </div>
</div>

<div class="section no-padding" id="location-object">
    <div class="container">
        <div class="caption-with-button margin-bottom">
            <h2 class="h4">Реализованные  объекты</h2>
            <a href="#" class="button small inline">Подробнее</a>
        </div>
        <div class="rc-location rc-location-big">
            <div id="objects_map_preview" class="map"
                 data-settings='[
                 {"coords":"53.218648,50.190193",
                 "image": "./img/baloon-img.jpg",
                 "year": "2018",
                 "address": "ул. Калужская, д.11",
                 "name": "ЖК «Центральный»",
                 "link": "#url1"},
                  {"coords":"53.26731029240561,50.460036203783844",
                  "image": "./img/baloon-img.jpg",
                  "year": "2019",
                  "address": "ул. Калужская, д.11",
                  "name": "ЖК «Центральный»2",
                  "link": "#url2"},
                   {"coords":"53.468298956398044,50.23078751239043",
                   "image": "./img/baloon-img.jpg",
                   "year": "2018",
                   "address": "ул. Калужская, д.11",
                   "name": "ЖК «Центральный»3",
                   "link": "#url3"}]'>

            </div>

        </div>
    </div>
</div>

<div class="section padding-top">
    <div class="container">
        <div class="row">
            <div class="col w-25 w-50-tablet">
                <div class="text-with-icon">
                    <div class="icon icon-date"></div>
                    <div class="info">
                        <div class="text big color-main">20 лет</div>
                        <div class="text small">ответственного строительства</div>
                    </div>
                </div>
            </div>

            <div class="col w-25 w-50-tablet ">
                <div class="text-with-icon">
                    <div class="icon icon-family"></div>
                    <div class="info">
                        <div class="text big color-main">75</div>
                        <div class="text small">домов построено</div>
                    </div>
                </div>
            </div>

            <div class="clr hide-desktop"></div>

            <div class="col w-25 w-50-tablet ">
                <div class="text-with-icon">
                    <div class="icon icon-key"></div>
                    <div class="info">
                        <div class="text big color-main">7 595</div>
                        <div class="text small">сданных квартир</div>
                    </div>
                </div>
            </div>

            <div class="col w-25 w-50-tablet">
                <div class="text-with-icon">
                    <div class="icon icon-sketch"></div>
                    <div class="info">
                        <div class="text big color-main">1 140</div>
                        <div class="text small">специалистов в штате</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section no-padding-bottom">
    <div class="container">
        <div class="images-block margin-bottom-x2 images-block__reverse">
            <div class="images-block__item images-block__big grid-1" style="background-image: url(./img/about/4.jpg);"></div>
            <div class="images-block__item images-block__small grid-2" style="background-image: url(./img/about/5.jpg);"></div>
            <div class="images-block__item images-block__small grid-3" style="background-image: url(./img/about/6.jpg);"></div>

        </div>
    </div>
</div>


<div class="section no-padding-top">
    <div class="container">
        <div class="caption margin-bottom-x2">
            <h3 class="h6">ООО "Специализированный застройщик "Трансгруз" в Самаре - принципы работы</h3>
        </div>
        <ul class="basic-list basic-list-dbl">
            <li>
                <p class="bold-text">
                    Предоставление услуг самого высокого качества:
                </p>
                <p class="normal-text">наша материальная база постоянно совершенствуется, как повышается и уровень подготовки и квалификация наших сотрудников.</p>
            </li>

            <li>
                <p class="bold-text">
                    Работа профессионалов:
                </p>
                <p class="normal-text">
                    в нашей компании работают лучшие специалисты своего дела — профессиональные дизайнеры, проектировщики, строители. Кроме того, мы всегда работаем с лучшими материалами на самом современном оборудовании.
                </p>
            </li>

            <li>
                <p class="bold-text">
                    Доступная стоимость услуг:
                </p>
                <p class="normal-text">
                    компания имеет свою производственную базу — цех металлоизделий и деревообработки, два БСУ с весовой и лабораторией, автопарк (башенные краны, в т.ч. повышенной высотности, погрузчики, экскаваторы, автокраны, самосвалы, бетононасосы) — все это позволяет нам сводить издержки к минимуму, что в итоге положительно отражается на цене.
                </p>
            </li>

            <li>
                <p class="bold-text">

                </p>
                <p class="normal-text">

                </p>
            </li>

            <li>
                <p class="bold-text">
                    Честное и ответственное выполнение работ:
                </p>
                <p class="normal-text">
                    мы всегда действуем согласно договору. Изначально оговоренная стоимость не меняется в ходе работы.
                </p>
            </li>

            <li>
                <p class="bold-text">
                    Своевременное выполнение работы:
                </p>
                <p class="normal-text">
                    в своём арсенале мы имеем весь спектр необходимых специалистов и оборудования, поэтому мы можем точно просчитать сроки работ, которые мы выполняем точно в срок без опозданий.
                </p>
            </li>

            <li>
                <p class="bold-text">
                    Четкое соблюдение требований законодательства, специальных нормативов и условий договора:
                </p>
                <p class="normal-text">
                    мы гордимся своей репутацией, поэтому предлагаем своим заказчикам только самые качественные услуги.
                </p>
            </li>
        </ul>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
