<% var data = {
title: "Волгарь"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="section no-padding">
    <div class="container">
        <div class="breadcrumbs">
            <a class="item link" href="/"><i class="icon icon-backspace"></i></a>
            <a class="item link" href="/">главная</a>
        </div>
    </div>
</div>

<div class="section padding-bottom">
    <div class="container">
        <h1 class="h1 color-text margin-bottom-x3">О застройщике</h1>

        <div class="about">
            <div class="about-wrapper">
                <div class="about-left">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur magna eu lacus tempus, ut facilisis diam consectetur. Suspendisse potenti.
                    </p>
                    <p>
                        Orci varius natoque penatibus et magnis dis parturient montes.
                    </p>
                </div>
                <div class="about-right">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dignissimos eius eveniet iusto modi nihil saepe? Ab animi architecto debitis dicta eos eum ex explicabo harum illo in ipsa, ipsum iure laborum molestiae neque nesciunt obcaecati perferendis perspiciatis porro provident qui quia quod recusandae, reiciendis sed sequi ullam velit voluptate.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam delectus ex, harum hic impedit ipsam minus quae quam quas quasi repellendus. Ad aliquid blanditiis ea ex expedita ipsum labore nam, obcaecati odio officia perspiciatis quam sapiente similique temporibus totam?
                    </p>
                </div>
            </div>
            <div class="about-img" style="background-image: url('./img/about.png')"></div>
            <div class="about-stats">
                <div class="item">
                    <div class="title">Топ 10</div>
                    <div class="text">Застройщиков Поволжья</div>
                </div>
                <div class="item">
                    <div class="title">600+</div>
                    <div class="text">Довольных семей</div>
                </div>
                <div class="item">
                    <div class="title">1988 г.</div>
                    <div class="text">Основание компании</div>
                </div>
                <div class="item">
                    <div class="title">30 000 м²</div>
                    <div class="text">Построенного жилья</div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
