<% var data = {
title: "Волгарь"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="section no-padding">
    <div class="container">
        <div class="breadcrumbs">
            <a class="item link" href="#"><i class="icon icon-backspace"></i></a>
            <a class="item link" href="#">главная</a>
        </div>

    </div>
</div>

<div class="section no-padding">
    <div class="container">
        <h1 class="h1 color-text">
            Ход строительства
        </h1>
        <div class="bp-item">
            <h3 class="h3 color-blue">
                <span>18 квартал, 5 "Б" микрорайон</span>
                <i class="icon-arrdown"></i>
            </h3>
            <div class="bp-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="polygon-map-multiple" id="polygon_map3"
                             data-settings='{"coords":"53.151079, 50.075499", "polygons":
[[{"name":"Квартал тест"},[["53.1575","50.0758"],["53.1574","50.0795"],["53.1558","50.0793"],["53.1560","50.0757"],["53.1575","50.0758"]]]]}'></div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="item">
                            <div class="photo" style="background-image: url('./img/progress/1.jpg')"></div>
                            <div class="info">
                                <div class="top">
                                    <div class="date">01.06.2020</div>
                                    <div class="count">
                                        <i class="icon-photo"></i>
                                        <span>3</span>
                                    </div>
                                    <div class="desc">Отдел по связям с общественностью и рекламе</div>
                                </div>
                                <div class="name">Фотоотчет о ходе строительства 18 квартала дом № 5</div>
                            </div>

                        </a>

                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="item">
                            <div class="photo" style="background-image: url('./img/progress/1.jpg')"></div>
                            <div class="info">
                                <div class="top">
                                    <div class="date">01.06.2020</div>
                                    <div class="count">
                                        <i class="icon-photo"></i>
                                        <span>3</span>
                                    </div>
                                    <div class="desc">Отдел по связям с общественностью и рекламе</div>
                                </div>
                                <div class="name">Фотоотчет о ходе строительства 18 квартала дом № 5</div>
                            </div>

                        </a>

                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="item">
                            <div class="photo" style="background-image: url('./img/progress/1.jpg')"></div>
                            <div class="info">
                                <div class="top">
                                    <div class="date">01.06.2020</div>
                                    <div class="count">
                                        <i class="icon-photo"></i>
                                        <span>3</span>
                                    </div>
                                    <div class="desc">Отдел по связям с общественностью и рекламе</div>
                                </div>
                                <div class="name">Фотоотчет о ходе строительства 18 квартала дом № 5</div>
                            </div>

                        </a>

                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="item">
                            <div class="photo" style="background-image: url('./img/progress/1.jpg')"></div>
                            <div class="info">
                                <div class="top">
                                    <div class="date">01.06.2020</div>
                                    <div class="count">
                                        <i class="icon-photo"></i>
                                        <span>3</span>
                                    </div>
                                    <div class="desc">Отдел по связям с общественностью и рекламе</div>
                                </div>
                                <div class="name">Фотоотчет о ходе строительства 18 квартала дом № 5</div>
                            </div>

                        </a>

                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="item">
                            <div class="photo" style="background-image: url('./img/progress/1.jpg')"></div>
                            <div class="info">
                                <div class="top">
                                    <div class="date">01.06.2020</div>
                                    <div class="count">
                                        <i class="icon-photo"></i>
                                        <span>3</span>
                                    </div>
                                    <div class="desc">Отдел по связям с общественностью и рекламе</div>
                                </div>
                                <div class="name">Фотоотчет о ходе строительства 18 квартала дом № 5</div>
                            </div>

                        </a>

                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="item">
                            <div class="photo" style="background-image: url('./img/progress/1.jpg')"></div>
                            <div class="info">
                                <div class="top">
                                    <div class="date">01.06.2020</div>
                                    <div class="count">
                                        <i class="icon-photo"></i>
                                        <span>3</span>
                                    </div>
                                    <div class="desc">Отдел по связям с общественностью и рекламе</div>
                                </div>
                                <div class="name">Фотоотчет о ходе строительства 18 квартала дом № 5</div>
                            </div>

                        </a>

                    </div>
                </div>

            </div>
        </div>
        <div class="bp-item">
            <h3 class="h3 color-blue">
                <span>18 квартал, 5 "Б" микрорайон</span>
                <i class="icon-arrdown"></i>
            </h3>
            <div class="bp-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="polygon-map-multiple" id="polygon_map2"
                             data-settings='{"coords":"53.151079, 50.075499", "polygons":
[[{"name":"Квартал тест"},[["53.1575","50.0758"],["53.1574","50.0795"],["53.1558","50.0793"],["53.1560","50.0757"],["53.1575","50.0758"]]]]}'></div>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="item">
                            <div class="photo" style="background-image: url('./img/progress/1.jpg')"></div>
                            <div class="info">
                                <div class="top">
                                    <div class="date">01.06.2020</div>
                                    <div class="count">
                                        <i class="icon-photo"></i>
                                        <span>3</span>
                                    </div>
                                    <div class="desc">Отдел по связям с общественностью и рекламе</div>
                                </div>
                                <div class="name">Фотоотчет о ходе строительства 18 квартала дом № 5</div>
                            </div>

                        </a>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
