<% var data = {
title: "Волгарь"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="section no-padding">
    <div class="container">
        <div class="breadcrumbs">
            <a class="item link" href="/"><i class="icon icon-backspace"></i></a>
            <a class="item link" href="/">главная</a>
        </div>
    </div>
</div>

<div class="section special contacts">
    <div class="container">
        <h1 class="h1 color-text margin-bottom-x3">Контакты</h1>
        <div class="row">
            <div class="col w-50">
                <div class="contacts-map" id="map_sell_office_1" data-settings='{"coords":"53.187850, 50.085685"}'>

                </div>
                <div class="offices-info">
                    <div class="name">г. Самара, ул. Степана Разина, 102</div>
                    <div class="worktime-phones">
                        <div class="worktime">
                            <div class="item">
                                <div class="key">Пн.-Чт.</div>
                                <div class="value">08:00 – 18:00</div>
                            </div>
                            <div class="item">
                                <div class="key">Пт.</div>
                                <div class="value">08:00 – 17:00</div>
                            </div>
                            <div class="item">
                                <div class="key">Сб.-Вс.</div>
                                <div class="value">Выходной</div>
                            </div>
                        </div>
                        <div class="phones">
                            <div class="item">+7 (846) 311-11-11</div>
                            <div class="item">+7 (846) 311-11-11</div>
                        </div>
                    </div>
                    <a href="#" class="button secondary small inline">Бесплатное такси в отдел продаж</a>
                </div>
            </div>
            <div class="col w-50">
                <div class="contacts-map" id="map_sell_office_2" data-settings='{"coords":"53.151079, 50.075499"}'>

                </div>

                <div class="offices-info">
                    <div class="name">г. Самара, ул. Осетинская, 8</div>
                    <div class="worktime-phones">
                        <div class="worktime">
                            <div class="item">
                                <div class="key">Пн.-Чт.</div>
                                <div class="value">08:00 – 18:00</div>
                            </div>
                            <div class="item">
                                <div class="key">Пт.</div>
                                <div class="value">08:00 – 17:00</div>
                            </div>
                            <div class="item">
                                <div class="key">Сб.-Вс.</div>
                                <div class="value">Выходной</div>
                            </div>
                        </div>
                        <div class="phones">
                            <div class="item">+7 (846) 311-11-11</div>
                            <div class="item">+7 (846) 311-11-11</div>
                        </div>
                    </div>
                    <a href="#" class="button secondary small inline">Бесплатное такси в отдел продаж</a>
                </div>
            </div>
        </div>

        <div class="row margin-top-x2">
            <div class="col w-50">
                <div class="h5">ОТДЕЛ ПО СВЯЗЯМ С ОБЩЕСТВЕННОСТЬЮ И РЕКЛАМЕ</div>
                <div class="offices-info">
                    <div class="name">443099, г. Самара, ул. Степана Разина, 98/1</div>
                    <div class="worktime-phones">
                        <div class="phones phones-reverse">
                            <a href="tel:78463111111" class="item">+7 (846) 311-11-11</a>
                        </div>
                    </div>
                    <a class="link" href="mailto:pr@amond.ru">pr@amond.ru</a>
                </div>
            </div>
        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
