<% var data = {
title: "Волгарь"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="section no-padding">
    <div class="container">
        <div class="breadcrumbs">
            <a class="item link" href="/"><i class="icon icon-backspace"></i></a>
            <a class="item link" href="/">главная</a>
        </div>
    </div>
</div>

<div class="section no-padding">
    <div class="container">
        <h1 class="h1 color-text margin-bottom-x3">Ипотека</h1>
        <div class="tabs-container">
            <div class="tabs switchers inline">
                <div class="item active" data-tab="1">Основная деятельность</div>
                <div class="item" data-tab="2">Построенные объекты</div>
                <div class="item" data-tab="3">Объекты строительства</div>
            </div>
            <div class="tabs-block" data-tab="1">
                <div class="documents__list">
                    <h5 class="h5 margin-bottom-x2">Волгарь Самарская область, г. Самара, Куйбышевский район, ЖР «Волгарь», 18 квартал, микрорайон 5 «Б»</h5>
                    <div class="item">
                        <div class="top">
                            <i class="icon-paper"></i>
                            <a href="#" target="_blank" download>Заключение Министерства строительства Самарской области о соответствии застройщика № 3/5622 от 19.09.2019 г</a>
                        </div>
                        <div class="bottom">
                            <span>19.09.2019</span>
                            <span>Отдел по связям с общественностью и рекламе</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs-block" data-tab="2">
                <div class="documents__list">
                    <h5 class="h5 margin-bottom-x2">Самарская область, г. Самара, Куйбышевский район, ЖР "Волгарь", ул. Василия Татищева, д. 3</h5>
                    <div class="item">
                        <div class="top">
                            <i class="icon-paper"></i>
                            <a href="#" target="_blank" download>Заключение Министерства строительства Самарской области о соответствии застройщика № 3/5622 от 19.09.2019 г</a>
                        </div>
                        <div class="bottom">
                            <span>19.09.2019</span>
                            <span>Отдел по связям с общественностью и рекламе</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs-block" data-tab="3">
                <div class="documents__list">
                    <h5 class="h5 margin-bottom-x2">Самарская область, г. Самара, Куйбышевский район, ЖР «Волгарь», ул. Осетинская д.2</h5>
                    <div class="item">
                        <div class="top">
                            <i class="icon-paper"></i>
                            <a href="#" target="_blank" download>Заключение Министерства строительства Самарской области о соответствии застройщика № 3/5622 от 19.09.2019 г</a>
                        </div>
                        <div class="bottom">
                            <span>19.09.2019</span>
                            <span>Отдел по связям с общественностью и рекламе</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
