<% var data = {
title: "Волгарь"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<!--<div class="main-block-wrapper">-->
<!--    <div class="main-block animate-start" id="main_section">-->
<!--        <div class="bg-blue"></div>-->
<!--        <div class="bg-image"></div>-->
<!--       <div class="container container-absolute">-->
<!--           <div class="info">-->
<!--               <div class="info-top">-->
<!--                   <h1 class="color-white fade-left">Комфортная среда для жизни людей</h1>-->
<!--               </div>-->
<!--               <div class="info-bottom">-->
<!--                   <ul class="color-white fade-left delay-100 styled">-->
<!--                       <li class="icon-clock">4 минуты до центра Самары</li>-->
<!--                       <li class="icon-area">Комфортные планировки</li>-->
<!--                       <li class="icon-study">Открытые школы и детские сады</li>-->
<!--                       <li class="icon-garden">Природные парки и благоустроенные скверы</li>-->
<!--                   </ul>-->
<!--               </div>-->
<!--           </div>-->
<!--       </div>-->
<!--    </div>-->
<!--    <div class="bottom-block">-->
<!--        <div class="container">-->
<!--            <div class="rooms-item-wrapper">-->
<!--                <div class="row">-->
<!--                    <div class="col w-20 w-50-tablet">-->
<!--                        <a class="room-info-item">-->
<!--                            <span class="name">Студии</span>-->
<!--                            <span class="price">от 1,2 млн.</span>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="col w-20 w-50-tablet">-->
<!--                        <a class="room-info-item">-->
<!--                            <span class="name">1-комнатные</span>-->
<!--                            <span class="price">от 1,6 млн.</span>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="col w-20 w-50-tablet">-->
<!--                        <a class="room-info-item">-->
<!--                            <span class="name">2-комнатные</span>-->
<!--                            <span class="price">от 2,0 млн.</span>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="col w-20 w-50-tablet">-->
<!--                        <a class="room-info-item">-->
<!--                            <span class="name">3-комнатные</span>-->
<!--                            <span class="price">от 3,0 млн.</span>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="col w-20 w-50-tablet">-->
<!--                        <a class="room-info-item">-->
<!--                            <span class="name">4-комнатные</span>-->
<!--                            <span class="price">от 4,7 млн.</span>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="main-block" >
    <div class="bg-blue"></div>
    <div class="bg-image"></div>
    <div class="main-content transparent">
        <div class="container">
            <div class="info">
                <div class="info-top">
                    <h1 class="color-white fade-left delay-500">Комфортная среда <br> для жизни людей</h1>
                </div>
                <div class="info-bottom">
                    <ul class="color-white fade-left delay-700 styled">
                        <li class="icon-clock">4 минуты до центра Самары</li>
                        <li class="icon-area">Комфортные планировки</li>
                        <li class="icon-study">Открытые школы и детские сады</li>
                        <li class="icon-garden">Природные парки и благоустроенные скверы</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="white-block hide-mobile">
        <div class="section no-padding">
            <div class="container">
                <div class="rooms-item-wrapper">
                    <div class="rooms-items-row">
                        <div class="rooms-item-col">
                            <a class="room-info-item">
                                <span class="name">Студии</span>
                                <span class="price">от 1,2 млн.</span>
                            </a>
                        </div>
                        <div class="rooms-item-col">
                            <a class="room-info-item">
                                <span class="name">Студии</span>
                                <span class="price">от 1,2 млн.</span>
                            </a>
                        </div>
                        <div class="rooms-item-col">
                            <a class="room-info-item">
                                <span class="name">Студии</span>
                                <span class="price">от 1,2 млн.</span>
                            </a>
                        </div>
                        <div class="rooms-item-col">
                            <a class="room-info-item">
                                <span class="name">Студии</span>
                                <span class="price">от 1,2 млн.</span>
                            </a>
                        </div>
                        <div class="rooms-item-col">
                            <a class="room-info-item">
                                <span class="name">Студии</span>
                                <span class="price">от 1,2 млн.</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section padding-top no-padding-bottom hide-desktop with-shadow">
    <div class="container">
        <div class="rooms-item-wrapper">
            <div class="rooms-items-row">
                <div class="rooms-item-col">
                    <a class="room-info-item">
                        <span class="name">Студии</span>
                        <span class="price">от 1,2 млн.</span>
                    </a>
                </div>
                <div class="rooms-item-col">
                    <a class="room-info-item">
                        <span class="name">Студии</span>
                        <span class="price">от 1,2 млн.</span>
                    </a>
                </div>
                <div class="rooms-item-col">
                    <a class="room-info-item">
                        <span class="name">Студии</span>
                        <span class="price">от 1,2 млн.</span>
                    </a>
                </div>
                <div class="rooms-item-col">
                    <a class="room-info-item">
                        <span class="name">Студии</span>
                        <span class="price">от 1,2 млн.</span>
                    </a>
                </div>
                <div class="rooms-item-col">
                    <a class="room-info-item">
                        <span class="name">Студии</span>
                        <span class="price">от 1,2 млн.</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section no-padding-top">
    <div class="container">
        <div class="advantages-wrapper">
            <div class="row">
                <div class="col w-50 w-50-tablet">
                    <a class="advantages-item bg-1">
                        <span class="fake-link"></span>
                        <span class="info">
                            <span class="name">Расположение и транспортная доступность</span>
                            <span class="place">Куйбышевский район</span>
                        </span>
                    </a>
                </div>
                <div class="col w-50 w-50-tablet">
                    <a class="advantages-item bg-2">
                    <span class="fake-link"></span>
                    <span class="info">
                        <span class="name">Развитая инфраструктура</span>
                    </span>
                    </a>
                </div>

                <div class="clr hide-desktop"></div>

                <div class="col w-50 w-50-tablet">
                    <a class="advantages-item bg-3">
                    <span class="fake-link"></span>
                    <span class="info">
                        <span class="name">Спортивные меропрития и площадки во дворах</span>
                    </span>
                    </a>
                </div>

                <div class="col w-50 w-50-tablet">
                    <a class="advantages-item bg-4">
                    <span class="fake-link"></span>
                    <span class="info">
                        <span class="name">Благоустройство и комфорт </span>
                    </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section special padding-bottom">
    <div class="container">
        <h3 class="h3 color-text margin-bottom-x3">Спецпредложения</h3>

        <div class="news-cards">
            <a class="news-card">
                <div class="photo" style="background-image: url(../img/spec/01.jpg);"></div>
                <div class="info">
                    <div class="date">до 30 июня 2020 г.</div>
                    <div class="name">Скидка 75000 рублей в честь 75-летия Победы</div>
                    <div class="desc">Скидка предоставляется на трехкомнатные квартиры в некоторых домах</div>
                </div>
            </a>
            <a class="news-card">
                <div class="photo" style="background-image: url(../img/spec/02.jpg);"></div>
                <div class="info">
                    <div class="date">Постоянная акция</div>
                    <div class="name">Постоянная акция</div>
                    <div class="desc">Квартиры в новостройках от застройщика ГК "Амонд"! От 1,2 млн рублей от 34 500 ₽ м²</div>
                </div>
            </a>
            <a class="news-card">
                <div class="photo" style="background-image: url(../img/spec/03.jpg);"></div>
                <div class="info">
                    <div class="date">Постоянная акция</div>
                    <div class="name">Выгода на ремонт до 50000 рублей</div>
                    <div class="desc">Совместная акция с ПАО Сбербанк "Выгода на ремонт до 50 000 рублей" для держателей карт банка.</div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="section decorations padding-bottom-x2">
    <div class="container">
        <h3 class="h3 color-text margin-bottom-x3">Виды отделки</h3>
        <div class="row">
            <div class="col w-33 w-33-mobile">
                <a class="decoration-item">
                    <div class="photo" style="background-image: url(../img/01.jpg);"></div>
                    <div class="name">Черновая</div>
                </a>
            </div>
            <div class="col w-33 w-33-mobile">
                <a class="decoration-item">
                    <div class="photo" style="background-image: url(../img/02.jpg);"></div>
                    <div class="name">Предчистовая</div>
                </a>
            </div>
            <div class="col w-33 w-33-mobile">
                <a class="decoration-item">
                    <div class="photo" style="background-image: url(../img/03.jpg);"></div>
                    <div class="name">Чистовая <span class="hide-mobile">«Стандарт»</span></div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="section special">
    <div class="container">
        <h3 class="h3 color-text margin-bottom-x3">Отделы продаж</h3>
        <div class="row">
            <div class="col w-50">
                <div class="contacts-map" id="map_sell_office_1" data-settings='{"coords":"53.187850, 50.085685"}'>

                </div>
                <div class="offices-info">
                    <div class="name">г. Самара, ул. Степана Разина, 102</div>
                    <div class="worktime-phones">
                        <div class="worktime">
                            <div class="item">
                                <div class="key">Пн.-Чт.</div>
                                <div class="value">08:00 – 18:00</div>
                            </div>
                            <div class="item">
                                <div class="key">Пт.</div>
                                <div class="value">08:00 – 17:00</div>
                            </div>
                            <div class="item">
                                <div class="key">Сб.-Вс.</div>
                                <div class="value">Выходной</div>
                            </div>
                        </div>
                        <div class="phones">
                            <div class="item">+7 (846) 311-11-11</div>
                            <div class="item">+7 (846) 311-11-11</div>
                        </div>
                    </div>
                    <a href="#" class="button secondary small inline">Бесплатное такси в отдел продаж</a>
                </div>
            </div>
            <div class="col w-50">
                <div class="contacts-map" id="map_sell_office_2" data-settings='{"coords":"53.151079, 50.075499"}'>

                </div>

                <div class="offices-info">
                    <div class="name">г. Самара, ул. Осетинская, 8</div>
                    <div class="worktime-phones">
                        <div class="worktime">
                            <div class="item">
                                <div class="key">Пн.-Чт.</div>
                                <div class="value">08:00 – 18:00</div>
                            </div>
                            <div class="item">
                                <div class="key">Пт.</div>
                                <div class="value">08:00 – 17:00</div>
                            </div>
                            <div class="item">
                                <div class="key">Сб.-Вс.</div>
                                <div class="value">Выходной</div>
                            </div>
                        </div>
                        <div class="phones">
                            <div class="item">+7 (846) 311-11-11</div>
                            <div class="item">+7 (846) 311-11-11</div>
                        </div>
                    </div>
                    <a href="#" class="button secondary small inline">Бесплатное такси в отдел продаж</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="section">-->
<!--    <div class="container">-->
<!--        <h1>Заголовок H1</h1>-->
<!--        <h2>Заголовок H2</h2>-->
<!--        <h3>Заголовок H3</h3>-->
<!--        <h4>Заголовок H4</h4>-->
<!--        <h5>Заголовок H5</h5>-->
<!--        <h6>Заголовок H6</h6>-->
<!--        <p class="big">Просто текст 20px</p>-->
<!--        <p>Просто текст 16px</p>-->
<!--        <p class="medium">Просто текст 14px</p>-->
<!--        <p class="small">Просто текст 12px</p>-->

<!--        <p class="big bold">Просто текст 20px</p>-->
<!--        <p class="bold">Просто текст 16px</p>-->
<!--        <p class="medium bold">Просто текст 14px</p>-->
<!--        <p class="small bold">Просто текст 12px</p>-->

<!--        <ul>-->
<!--            <li>Body1 dedisse scripsisse iudicaretur.</li>-->
<!--            <li>Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus.</li>-->
<!--            <li>Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros.</li>-->
<!--            <li>Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</li>-->
<!--        </ul>-->

<!--        <ol>-->
<!--            <li>Body1 dedisse scripsisse iudicaretur.</li>-->
<!--            <li>Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus.</li>-->
<!--            <li>Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros.</li>-->
<!--            <li>Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</li>-->
<!--        </ol>-->
<!--        <div class="row">-->
<!--            <div class="col">-->
<!--                <a href="#" class="button inline">Primary M</a>-->
<!--                <a href="#" class="button secondary inline">Secondary M</a>-->
<!--                <a href="#" class="button default inline">Default M</a>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--                <a href="#" class="button small inline">Primary S</a>-->
<!--                <a href="#" class="button small secondary inline">Secondary S</a>-->
<!--                <a href="#" class="button small default inline">Default S</a>-->
<!--            </div>-->
<!--            -->
<!--            <div class="col">-->
<!--                <a href="#" class="button default inline button-icon">-->
<!--                    <i class="icon icon-alert"></i>-->
<!--                </a>-->
<!--                <a href="#" class="button default inline">-->
<!--                    Текст и иконка большая-->
<!--                    <i class="icon icon-alert"></i>-->
<!--                </a>-->

<!--                <a href="#" class="button default inline small">-->
<!--                    Текст и иконка маленькая-->
<!--                    <i class="icon icon-alert"></i>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--                <form action="/netcat/add.php" id="feedback-form" class="feedback-form margin-top-x2">-->
<!--                    <h3 class="h5 margin-bottom-x2 delay-100">Обратная связь</h3>-->
<!--                    <label class="field field-input item delay-200">-->
<!--                        <input class="input-text placeholder validate" placeholder="Ваше ФИО" data-placeholder="Как к вам обращаться" data-validate="required" id="feedback_name" name="feedback_name" type="text">-->
<!--                        <p class="error-message"></p>-->
<!--                    </label>-->
<!--                    <label class="field field-input item delay-300 empty">-->
<!--                        <input class="input-text placeholder validate input-mask" data-mask_tpl="phone_plus7" data-placeholder="Номер телефона" data-validate="mobile_phone" id="feedback_phone" name="feedback_phone" type="text" value="" inputmode="text">-->
<!--                        <p class="error-message"></p>-->
<!--                    </label>-->
<!--                    <label class="field field-input item delay-400 ">-->
<!--                        <textarea class="input-text placeholder validate" data-placeholder="Текст сообщения" placeholder="Введите текст сообщения" id="feedback_text" name="feedback_text"></textarea>-->
<!--                        <p class="error-message"></p>-->
<!--                    </label>-->
<!--                    <div class="form-message">-->
<!--                        <div class="form-info">-->
<!--                            <span class="message-icon success"><i class="icon-confirm"></i></span>-->
<!--                            <span class="message-icon error"><i class="icon-cancel"></i></span>-->
<!--                            <p class="message-title"></p>-->
<!--                            <p class="message-subtitle"></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="delay-500">-->
<!--                        <button class="button inline no-margin-top" type="submit" disabled="disabled">Отправить</button>-->
<!--                        <p class="inline-block">-->
<!--                            Нажимая кнопку «Отправить» вы даёте свое согласие на-->
<!--                            <a href="/policy/" target="_blank">обработку персональных данных</a>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<%= _.template(require('./../includes/footer.html').default)(data) %>
