<% var data = {
title: "Трансгруз"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="section no-padding">
    <div class="container">
        <div class="breadcrumbs">
            <a class="item link hide-desktop" href="#"><i class="icon icon-left-arrow-1"></i></a>
            <a class="item link " href="#">Главная</a>
            <div class="item divider hide-mobile"><i class="icon icon-right-arrow"></i></div>
            <div class="item hide-mobile">Ипотека</div>
        </div>

    </div>
</div>
<div class="section no-padding-top">
    <div class="container">
        <div class="caption-with-button margin-bottom-x3">
            <h1 class="h3 margin-bottom">Ипотека</h1>
            <p class="color-text-gray">
                Слово "Ипотека" по прежнему пугает многих, однако также для многих является единственным способом улучшить свои жилищные условия. Если рассматривать альтернативу жилья в наём, то
                размер ежемесячных арендных платежей за чужую квартиру сегодня соизмерим с размером ежемесячного платежа по ипотечному кредиту. Здесь важно понять, что, приобретя квартиру даже в
                ипотеку, вы в любом случае останетесь в выигрыше, так как цены на жильё растут быстрее, чем доходы населения. Эксперты рынка недвижимости советуют не питаться домыслами и страхами, а
                просто сравнить предложения ведущих банков, зайти на их сайты, воспользоватся ипотечным калькулятором и просчитать ваши возможности. Скорее всего, вы будете приятно удивлены разумному
                размеру ежемесячного платежа. Что касается вариантов, то ипотечные кредиты на квартиры готовы предоставить наши партнёры:
            </p>
        </div>
        <div class="row">
            <div class="col w-25 w-50-tablet">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/sberbank.svg');"></div>
                    <div class="info">
                        <div class="text big">от 5%</div>
                        <div class="text">Сбербанк</div>
                    </div>
                </div>
            </div>
            <div class="col w-25 w-50-tablet">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/rosselhozbank.svg');"></div>
                    <div class="info">
                        <div class="text big">от 6%</div>
                        <div class="text">РоссельхозБанк</div>
                    </div>
                </div>
            </div>

            <div class="clr hide-desktop"></div>

            <div class="col w-25 w-50-tablet  ">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/vtb.svg');"></div>
                    <div class="info">
                        <div class="text big">от 5%</div>
                        <div class="text">ВТБ</div>
                    </div>
                </div>
            </div>
            <div class="col w-25 w-50-tablet ">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/absolut-bank.svg');"></div>
                    <div class="info">
                        <div class="text big">от 5.24%</div>
                        <div class="text">Абсолют Банк</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col w-25 w-50-tablet ">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/dom-rf.svg');"></div>
                    <div class="info">
                        <div class="text big">от 5.25%</div>
                        <div class="text">Банк Дом.рф</div>
                    </div>
                </div>
            </div>
            <div class="col w-25 w-50-tablet ">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/raiffaisen.svg');"></div>
                    <div class="info">
                        <div class="text big">от 8.5%</div>
                        <div class="text">Райффайзен</div>
                    </div>
                </div>
            </div>

            <div class="clr hide-desktop"></div>

            <div class="col w-25 w-50-tablet  ">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/delta-credit.svg');"></div>
                    <div class="info">
                        <div class="text big">от 9.5%</div>
                        <div class="text">ДельтаКредит</div>
                    </div>
                </div>
            </div>
            <div class="col w-25 w-50-tablet ">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/gazprombank.svg');"></div>
                    <div class="info">
                        <div class="text big">от 4.9%</div>
                        <div class="text">Газпромбанк</div>
                    </div>
                </div>
            </div>

            <div class="clr"></div>

        </div>

        <div class="row ">
            <div class="col w-25 w-50-tablet ">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/zapsimkombank.svg');"></div>
                    <div class="info">
                        <div class="text big">от 5.25%</div>
                        <div class="text">Запсибкомбанк</div>
                    </div>
                </div>
            </div>
            <div class="col w-25 w-50-tablet ">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/koshelev.svg');"></div>
                    <div class="info">
                        <div class="text big">от 8.5%</div>
                        <div class="text">Кошелев Банк</div>
                    </div>
                </div>
            </div>

            <div class="clr hide-desktop"></div>

            <div class="col w-25 w-50-tablet  ">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/alfa-bank.svg');"></div>
                    <div class="info">
                        <div class="text big">от 5,25 %</div>
                        <div class="text">Альфа Банк</div>
                    </div>
                </div>
            </div>
            <div class="col w-25 w-50-tablet ">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/gazprombank.svg');"></div>
                    <div class="info">
                        <div class="text big">от 4.9%</div>
                        <div class="text">СМП Банк</div>
                    </div>
                </div>
            </div>

            <div class="clr"></div>

        </div>

        <div class="caption-with-button margin-top-x3">
            <h1 class="h4 margin-bottom">Военная ипотека</h1>
        </div>
        <div class="row ">
            <div class="col w-25 w-50-tablet ">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/sberbank.svg');"></div>
                    <div class="info">
                        <div class="text big">от 5%</div>
                        <div class="text">Сбербанк</div>
                    </div>
                </div>
            </div>
            <div class="col w-25 w-50-tablet ">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/rosselhozbank.svg');"></div>
                    <div class="info">
                        <div class="text big">от 6%</div>
                        <div class="text">РоссельхозБанк</div>
                    </div>
                </div>
            </div>

            <div class="clr hide-desktop"></div>

            <div class="col w-25 w-50-tablet ">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/vtb.svg');"></div>
                    <div class="info">
                        <div class="text big">от 5%</div>
                        <div class="text">ВТБ</div>
                    </div>
                </div>
            </div>
            <div class="col w-25 w-50-tablet ">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/absolut-bank.svg');"></div>
                    <div class="info">
                        <div class="text big">от 5.24%</div>
                        <div class="text">Абсолют Банк</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col w-25 w-50-tablet ">
                <div class="text-with-icon margin-top-x2">
                    <div class="logo" style="background-image: url('./img/banks/dom-rf.svg');"></div>
                    <div class="info">
                        <div class="text big">от 5.25%</div>
                        <div class="text">Банк Дом.рф</div>
                    </div>
                </div>
            </div>
            <div class="clr"></div>

        </div>
    </div>
</div>
<div class="section no-padding-top">
    <div class="container">
        <h2 class="bold-text">Контактная информация банков</h2>
        <div class="text-with-small-icon margin-top">
            <div class="logo" style="background-image: url('./img/banks/sberbank.svg');"></div>
            <div class="text">ПАО Сбербанк России г. Самара, 443011, ул. Ново-Садовая, д. 305 тел.: (8 800) 555-55-50 (Звонки по России бесплатно)</div>
        </div>
        <div class="text-with-small-icon margin-top">
            <div class="logo" style="background-image: url('./img/banks/gazprombank.svg');"></div>
            <div class="text"> Филиал "Газпромбанк" (Акционерное общество) "Поволжский" , г. Самара, ул. Льва Толстого, д.30а, тел. 8-996-342-24-10 - Денис.</div>
        </div>
        <div class="text-with-small-icon margin-top">
            <div class="logo" style="background-image: url('./img/banks/rosselhozbank.svg');"></div>
            <div class="text">ОАО "РОССИЙСКИЙ СЕЛЬСКОХОЗЯЙСТВЕННЫЙ БАНК" г.Самара, ул.Академика Платонова, д. 10, тел. 8(846)373-51-91, 8(846)373-51-55</div>
        </div>
        <div class="text-with-small-icon margin-top">
            <div class="logo" style="background-image: url('./img/banks/vtb.svg');"></div>
            <div class="text">Банк ВТБ: моб. 8-917-142-71-60, Гусева Анастасия, KasjyanovaAR@vtb.ru</div>
        </div>
        <div class="text-with-small-icon margin-top">
            <div class="logo" style="background-image: url('./img/banks/raiffaisen.svg');"></div>
            <div class="text">ЗАО "Райффайзенбанк г.Самара, ул.Молодогвардейская, д.180 Тел.:+7 (846)267-38-80</div>
        </div>
        <div class="text-with-small-icon margin-top">
            <div class="logo" style="background-image: url('./img/banks/absolut-bank.svg');"></div>
            <div class="text">АКБ "Абсолют Банк (ПАО)" 443010,г.Самара,ул. Вилоновская, 20 тел.(846) 276 72 62, доб. 54-440, 8-917-102-61-69 Центр ипотечного кредитования.</div>
        </div>
        <div class="text-with-small-icon margin-top">
            <div class="logo" style="background-image: url('./img/banks/dom-rf.svg');"></div>
            <div class="text">Банк.ДОМ.РФ г.Самара, ул. Полевая, д.50, тел.: 8(846)337-91-50, 8(906)347-19-66</div>
        </div>
        <div class="text-with-small-icon margin-top">
            <div class="logo" style="background-image: url('./img/banks/delta-credit.svg');"></div>
            <div class="text">АО «КБ ДельтаКредит» (широкий выбор ипотечных программ, использование материнского капитала). Ваш персональный менеджер Евгения 8(927)907-45-42</div>
        </div>
        <div class="text-with-small-icon margin-top">
            <div class="logo" style="background-image: url('./img/banks/zapsimkombank.svg');"></div>
            <div class="text">ПАО «Запсибкомбанк» г.Самара, Октябрьский район Московское шоссе, д.4а, стр.1, пом.2, тел.: 8 (846) 255-63-90, 255-63-88, 255-63-89.</div>
        </div>
        <div class="text-with-small-icon margin-top">
            <div class="logo" style="background-image: url('./img/banks/koshelev.svg');"></div>
            <div class="text">АО «КОШЕЛЕВ-БАНК». г. Самара, ул. Маяковского, д. 14. т. (846) 933-90-00; (846) 251-00-00</div>
        </div>
        <div class="text-with-small-icon margin-top">
            <div class="logo" style="background-image: url('./img/banks/alfa-bank.svg');"></div>
            <div class="text">АО "Альфа - Банк" , первоначальный взнос от 10 % адрес: г. Самара , ул. Садовая д.256. тел: 8(846) 331-76-04 </div>
        </div>
        <div class="text-with-small-icon margin-top">
            <div class="logo" style="background-image: url('./img/banks/smp-bank.svg');"></div>
            <div class="text">СМП Банк г. Самара, ул.Мичурина.46 Тел.: 8(846)269-67-68, доб. 6260, 8-927-608-13-16 Группа ипотечного кредитования</div>
        </div>

        <h2 class="bold-text margin-top-x3">Военная ипотека</h2>

        <div class="text-with-small-icon margin-top">
            <div class="logo" style="background-image: url('./img/banks/vtb.svg');"></div>
            <div class="text"> Банк ВТБ г. Самара, пр. Ленина, д.3, тел. (846) 378-24-30; 8-800-100-2424, г. Самара, ул. Стара Загора, д.139 тел. (846) 378-24-37; 8-800-100-2424.</div>
        </div>
        <div class="text-with-small-icon margin-top">
            <div class="logo" style="background-image: url('./img/banks/dom-rf.svg');"></div>
            <div class="text">Банк.ДОМ.РФ г.Самара, ул. Полевая, д.50, тел.: 8(846)337-91-50, 8(906)347-19-66</div>
        </div>
        <div class="text-with-small-icon margin-top">
            <div class="logo" style="background-image: url('./img/banks/absolut-bank.svg');"></div>
            <div class="text">АКБ "Абсолют Банк (ПАО) 443010,г.Самара, ул. Вилоновская, 20 тел.(846) 276 72 62, доб. 54-440, 8-917-102-61-69 Центр ипотечного кредитования. </div>
        </div>
        <div class="text-with-small-icon margin-top">
            <div class="logo" style="background-image: url('./img/banks/svyaz-bank.svg');"></div>
            <div class="text">ПАО АКБ Связь-Банк г. Самара, ул.Садовая д.221/ул.Ульяновская д.45 тел. (846) 269-66-66</div>
        </div>
        <div class="text-with-small-icon margin-top">
            <div class="logo" style="background-image: url('./img/banks/gazprombank.svg');"></div>
            <div class="text">Газпромбанк ф-л ГПБ ОАО в г.Самаре г.Самара. ул.Л.Толстого д.30, тел. 8-996-342-24-10 - Денис</div>
        </div>
    </div>
</div>


<div class="section no-padding-top">
    <div class="container">
        <div class="rc-building-progress">
            <div id="mortgage_slider" class="slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="photos">
                            <img src="./img/mortgage/1.gif" alt="img1">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="photos">
                            <img src="./img/mortgage/2.jpg" alt="img2">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="photos">
                            <img src="./img/mortgage/3.jpg" alt="img3">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="photos">
                            <img src="./img/mortgage/4.jpg" alt="img4">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="photos">
                            <img src="./img/mortgage/5.jpg" alt="img5">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="photos">
                            <img src="./img/mortgage/6.jpg" alt="img6">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="photos">
                            <img src="./img/mortgage/7.jpg" alt="img7">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="photos">
                            <img src="./img/mortgage/8.jpg" alt="img8">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="photos">
                            <img src="./img/mortgage/9.png" alt="img9">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="photos">
                            <img src="./img/mortgage/10.jpg" alt="img10">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
