<% var data = {
title: "Волгарь"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="section no-padding">
    <div class="container">
        <div class="breadcrumbs">
            <a class="item link" href="#"><i class="icon icon-backspace"></i></a>
            <a class="item link" href="#">Выбор квартиры</a>
        </div>

    </div>
</div>


<div class="section no-padding-top">
    <div class="container">
        <h3 class="h3 color-text hide-desktop">
            3 комнатная квартира 85,78м²
        </h3>
        <div class="apartment-view tabs-container">
            <div class="apartment-section-info">
                <div class="compass-wrap">
                    <div class="compass" data-deg="190" >
                        <div class="compass-symbol north">С</div>
                        <div class="compass-symbol south">Ю</div>
                        <div class="compass-symbol west">З</div>
                        <div class="compass-symbol east">В</div>
                    </div>
                </div>
                <div class="section-plan">
                    <img src="./img/rooms/section.png" alt="">
                </div>
                <div class="image-switcher show-floor tabs switchers-small switchers inline">
                    <div class="item active" data-tab="1">Планировка квартиры</div>
                    <div class="item" data-tab="2">План этажа</div>
                </div>
                <!--<div class="image-switcher show-floor">
                    <div class="button small default floor">План этажа</div>
                    <div class="button small default room">Планировка</div>
                </div>-->
            </div>
            <div class="apartment-image">
                <div class="image-wrapper tabs-block" data-tab="1" style="background-image: url(./img/rooms/1234.jpg)">
                    <!--<img src="./img/rooms/1234.jpg" alt="">-->
                </div>
                <div class="image-wrapper tabs-block" data-tab="2" style="background-image: url(./img/rooms/12345.jpg)">
                    <!--<img src="./img/rooms/12345.jpg" alt="">-->
                </div>
            </div>
            <div class="apartment-info">
                <h1 class="h2 hide-mobile">3 комнатная квартира 85,78м²</h1>

                <div class="info-block">
                    <div class="item">
                        <div class="name">Срок сдачи</div>
                        <div class="value">4 кв. 2020 г.</div>
                    </div>
                    <div class="item">
                        <div class="name">Отделка</div>
                        <div class="value">Черновая</div>
                    </div>
                    <div class="item">
                        <div class="name">Квартал / дом</div>
                        <div class="value">12 / 7</div>
                    </div>
                    <div class="item">
                        <div class="name">Секция</div>
                        <div class="value">4</div>
                    </div>
                    <div class="item">
                        <div class="name">Этаж</div>
                        <div class="value">23</div>
                    </div>
                </div>
                <div class="price-block">
                    <div class="discount-block">
                        <div class="old-price">4 717 900 ₽</div>
                        <div class="discount-percent">-10%</div>
                    </div>
                    <div class="price">4 289 000 ₽</div>
                    <div class="square-price">50 000 за м²</div>
                </div>
                <div class="buttons">
                    <a href="#" class="button inline"
                       data-open-modal-button="room_request"
                       data-effect-type="open-modal-fade-effect">Оставить
                        заявку</a>
                    <div class="button default inline w-a-mobile">Сохранить PDF</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section no-padding-top">
    <div class="container">
        <h2 class="h3 margin-bottom">Расположение</h2>
        <p class="color-text-gray no-margin-top">9 квартал, дом 1</p>
        <div class="contacts-map big" id="map_sell_office_2" data-settings='{"coords":"53.151079, 50.075499"}'>

        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
