<% var data = {
title: "Волгарь"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="section no-padding">
    <div class="container">
        <div class="breadcrumbs">
            <a class="item link" href="#"><i class="icon icon-backspace"></i></a>
            <a class="item link" href="#">главная</a>
        </div>

    </div>
</div>

<div class="section no-padding">
    <div class="container">
        <h1 class="h1 color-text">
            Выбор квартиры
        </h1>

    </div>
</div>

<div class="section no-padding-bottom overflow-visible z-index-more">
    <div class="container">
      <div class="rooms-filter" id="apartments_search_filter_horizontal"
           data-json='{"apartments":[{"id":0,"name":0,"deadline":{"text":"IV кв. 2022","value":"2022-4"},"decoration":"Чистовая","quarter":17,"house":1,"section":17,"floor":3,"url":"#","img":"./img/rooms/1.png","fullPrice":1850000,"squarePrice":65000,"area":67.55},{"id":1,"name":1,"deadline":{"text":"IV кв. 2023","value":"2023-4"},"decoration":"Черновая","quarter":12,"house":2,"section":1,"floor":4,"url":"#","img":"./img/rooms/1.png","fullPrice":2850000,"squarePrice":65000,"area":61.55},{"id":2,"name":2,"deadline":{"text":"IV кв. 2021","value":"2021-4"},"decoration":"Черновая","quarter":13,"house":5,"section":3,"floor":5,"url":"#","img":"./img/rooms/1.png","fullPrice":3000000,"squarePrice":65000,"area":69.55}]}'>
          <div class="row" data-filter>
              <div class="col w-20">
                  <div class="filter-item">
                      <div class="input-name">Комнатность</div>
                      <div class="rooms-check" data-rooms>
                          <div class="item" data-room="0">Ст.</div>
                          <div class="item" data-room="1">1</div>
                          <div class="item" data-room="2">2</div>
                          <div class="item" data-room="3">3</div>
                          <div class="item" data-room="4">4</div>
                      </div>
                  </div>
              </div>
              <div class="col w-20">
                  <div class="filter-item">
                      <div class="input-name">Стоимость, млн. руб.</div>
                      <div class="double-input-field">
                          <div class="field-input">
                              <input type="text" class="input-text" readonly value=""
                                     name="sum_min_formatted">
                              <input type="hidden" name="sum_min">
                          </div>
                          <div class="field-input">
                              <input type="text" class="input-text" readonly value=""
                                     name="sum_max_formatted">
                              <input type="hidden" name="sum_max">
                          </div>
                      </div>
                      <input type="text" class="js-range-slider" name="price_range" value=""/>
                  </div>
              </div>
              <div class="col w-20">
                  <div class="filter-item">
                      <div class="input-name">Площадь, м²</div>
                      <div class="double-input-field">
                          <div class="field-input">
                              <input type="text" class="input-text" readonly  value=""
                                     name="square_min">
                          </div>
                          <div class="field-input">
                              <input type="text" class="input-text"  readonly value=""
                                     name="square_max">
                          </div>
                      </div>
                      <input type="text" class="js-range-slider" name="square_range" value=""/>
                  </div>
              </div>
              <div class="col w-20">
                  <div class="filter-item">
                      <div class="input-name">Этаж</div>
                      <div class="double-input-field">
                          <div class="field-input">
                              <input type="text" class="input-text" readonly value=""
                                     name="floor_min">
                          </div>
                          <div class="field-input">
                              <input type="text" class="input-text" readonly  value=""
                                     name="floor_max">
                          </div>
                      </div>
                      <input type="text" class="js-range-slider" name="floor_range" value=""/>
                  </div>
              </div>
              <div class="col w-20">
                  <div class="filter-item">
                      <div class="input-name">Срок сдачи</div>
                      <select name="deadline" class="select">
                          <option value="0" selected>Дом сдан</option>
                          <option value="2022-4">IV кв. 2022</option>
                          <option value="2023-4" >IV кв. 2023</option>
                          <option value="2021-4" >IV кв. 2021</option>
                      </select>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>

<div class="section no-padding">
    <div class="container">
        <div class="sort-block-wrapper">
            <div class="rooms-length" id="filter_result">123 квартир</div>
            <div class="sort-block">
                <div class="sort-item active" data-sort="asc">По цене</div>
                <div class="sort-item" data-sort="asc">По площади</div>
            </div>
        </div>
    </div>
</div>

<div class="section no-padding-top">
    <div class="container">
        <div class="rooms-list" data-apartments-wrapper>
<!--            <div class="rooms-item">-->
<!--                <div class="inner">-->
<!--                    <div class="item-front">-->
<!--                        <div class="item-head">-->
<!--                            <div class="room-name">3</div>-->
<!--                            <div class="room-price-square">-->
<!--                                <div class="price">1 218 035 ₽</div>-->
<!--                                <div class="square">24,5 м<sup>2</sup>  </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-photo">-->
<!--                            <div class="room-photo" style="background-image: url('./img/rooms/1.png')">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-info">-->
<!--                            <div class="item">-->
<!--                                <div class="name">Срок сдачи</div>-->
<!--                                <div class="value">4 кв. 2020 г.</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Отделка</div>-->
<!--                                <div class="value">Черновая</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Квартал /дом</div>-->
<!--                                <div class="value">12 / 7</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Секция</div>-->
<!--                                <div class="value">4</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Этаж</div>-->
<!--                                <div class="value">23</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="item-back">-->
<!--                        <div class="baloon-item"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="rooms-item studio">-->
<!--                <div class="inner">-->
<!--                    <div class="item-front">-->
<!--                        <div class="item-head">-->
<!--                            <div class="room-name">Ст.</div>-->
<!--                            <div class="room-price-square">-->
<!--                                <div class="price">1 218 035 ₽</div>-->
<!--                                <div class="square">24,5 м<sup>2</sup>  </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-photo">-->
<!--                            <div class="room-photo" style="background-image: url('./img/rooms/2.png')">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-info">-->
<!--                            <div class="item">-->
<!--                                <div class="name">Срок сдачи</div>-->
<!--                                <div class="value">4 кв. 2020 г.</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Отделка</div>-->
<!--                                <div class="value">Черновая</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Квартал /дом</div>-->
<!--                                <div class="value">12 / 7</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Секция</div>-->
<!--                                <div class="value">4</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Этаж</div>-->
<!--                                <div class="value">23</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="item-back">-->
<!--                        <div class="baloon-item"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="rooms-item">-->
<!--                <div class="inner">-->
<!--                    <div class="item-front">-->
<!--                        <div class="item-head">-->
<!--                            <div class="room-name">1</div>-->
<!--                            <div class="room-price-square">-->
<!--                                <div class="price">1 218 035 ₽</div>-->
<!--                                <div class="square">24,5 м<sup>2</sup>  </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-photo">-->
<!--                            <div class="room-photo" style="background-image: url('./img/rooms/1.png')">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-info">-->
<!--                            <div class="item">-->
<!--                                <div class="name">Срок сдачи</div>-->
<!--                                <div class="value">4 кв. 2020 г.</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Отделка</div>-->
<!--                                <div class="value">Черновая</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Квартал /дом</div>-->
<!--                                <div class="value">12 / 7</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Секция</div>-->
<!--                                <div class="value">4</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Этаж</div>-->
<!--                                <div class="value">23</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="item-back">-->
<!--                        <div class="baloon-item"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="rooms-item">-->
<!--                <div class="inner">-->
<!--                    <div class="item-front">-->
<!--                        <div class="item-head">-->
<!--                            <div class="room-name">2</div>-->
<!--                            <div class="room-price-square">-->
<!--                                <div class="price">1 218 035 ₽</div>-->
<!--                                <div class="square">24,5 м<sup>2</sup>  </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-photo">-->
<!--                            <div class="room-photo" style="background-image: url('./img/rooms/1.png')">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-info">-->
<!--                            <div class="item">-->
<!--                                <div class="name">Срок сдачи</div>-->
<!--                                <div class="value">4 кв. 2020 г.</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Отделка</div>-->
<!--                                <div class="value">Черновая</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Квартал /дом</div>-->
<!--                                <div class="value">12 / 7</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Секция</div>-->
<!--                                <div class="value">4</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Этаж</div>-->
<!--                                <div class="value">23</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="item-back">-->
<!--                        <div class="baloon-item"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="rooms-item">-->
<!--                <div class="inner">-->
<!--                    <div class="item-front">-->
<!--                        <div class="item-head">-->
<!--                            <div class="room-name">4</div>-->
<!--                            <div class="room-price-square">-->
<!--                                <div class="price">1 218 035 ₽</div>-->
<!--                                <div class="square">24,5 м<sup>2</sup>  </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-photo">-->
<!--                            <div class="room-photo" style="background-image: url('./img/rooms/1.png')">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-info">-->
<!--                            <div class="item">-->
<!--                                <div class="name">Срок сдачи</div>-->
<!--                                <div class="value">4 кв. 2020 г.</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Отделка</div>-->
<!--                                <div class="value">Черновая</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Квартал /дом</div>-->
<!--                                <div class="value">12 / 7</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Секция</div>-->
<!--                                <div class="value">4</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Этаж</div>-->
<!--                                <div class="value">23</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="item-back">-->
<!--                        <div class="baloon-item"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="rooms-item">-->
<!--                <div class="inner">-->
<!--                    <div class="item-front">-->
<!--                        <div class="item-head">-->
<!--                            <div class="room-name">3</div>-->
<!--                            <div class="room-price-square">-->
<!--                                <div class="price">1 218 035 ₽</div>-->
<!--                                <div class="square">24,5 м<sup>2</sup>  </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-photo">-->
<!--                            <div class="room-photo" style="background-image: url('./img/rooms/1.png')">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-info">-->
<!--                            <div class="item">-->
<!--                                <div class="name">Срок сдачи</div>-->
<!--                                <div class="value">4 кв. 2020 г.</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Отделка</div>-->
<!--                                <div class="value">Черновая</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Квартал /дом</div>-->
<!--                                <div class="value">12 / 7</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Секция</div>-->
<!--                                <div class="value">4</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Этаж</div>-->
<!--                                <div class="value">23</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="item-back">-->
<!--                        <div class="baloon-item"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="rooms-item">-->
<!--                <div class="inner">-->
<!--                    <div class="item-front">-->
<!--                        <div class="item-head">-->
<!--                            <div class="room-name">3</div>-->
<!--                            <div class="room-price-square">-->
<!--                                <div class="price">1 218 035 ₽</div>-->
<!--                                <div class="square">24,5 м<sup>2</sup>  </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-photo">-->
<!--                            <div class="room-photo" style="background-image: url('./img/rooms/1.png')">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-info">-->
<!--                            <div class="item">-->
<!--                                <div class="name">Срок сдачи</div>-->
<!--                                <div class="value">4 кв. 2020 г.</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Отделка</div>-->
<!--                                <div class="value">Черновая</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Квартал /дом</div>-->
<!--                                <div class="value">12 / 7</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Секция</div>-->
<!--                                <div class="value">4</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Этаж</div>-->
<!--                                <div class="value">23</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="item-back">-->
<!--                        <div class="baloon-item"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="rooms-item">-->
<!--                <div class="inner">-->
<!--                    <div class="item-front">-->
<!--                        <div class="item-head">-->
<!--                            <div class="room-name">3</div>-->
<!--                            <div class="room-price-square">-->
<!--                                <div class="price">1 218 035 ₽</div>-->
<!--                                <div class="square">24,5 м<sup>2</sup>  </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-photo">-->
<!--                            <div class="room-photo" style="background-image: url('./img/rooms/1.png')">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item-info">-->
<!--                            <div class="item">-->
<!--                                <div class="name">Срок сдачи</div>-->
<!--                                <div class="value">4 кв. 2020 г.</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Отделка</div>-->
<!--                                <div class="value">Черновая</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Квартал /дом</div>-->
<!--                                <div class="value">12 / 7</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Секция</div>-->
<!--                                <div class="value">4</div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="name">Этаж</div>-->
<!--                                <div class="value">23</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="item-back">-->
<!--                        <div class="baloon-item"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>




<%= _.template(require('./../includes/footer.html').default)(data) %>
