<% var data = {
title: "Волгарь"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="section no-padding bg-color-main">
    <div class="container">
        <div class="breadcrumbs">
            <a class="item link" href="/"><i class="icon icon-backspace"></i></a>
            <a class="item link" href="/">главная</a>
        </div>
    </div>
</div>
<div class="section special padding-bottom bg-color-main">
    <div class="container">
        <h1 class="h1 color-text margin-bottom-x3">Спецпредложения</h1>

        <div class="news-cards">
            <a class="news-card">
                <div class="photo" style="background-image: url(./img/spec/01.jpg);"></div>
                <div class="info">
                    <div class="date">до 30 июня 2020 г.</div>
                    <div class="name">Скидка 75000 рублей в честь 75-летия Победы</div>
                    <div class="desc">Скидка предоставляется на трехкомнатные квартиры в некоторых домах</div>
                </div>
            </a>
            <a class="news-card">
                <div class="photo" style="background-image: url(./img/spec/02.jpg);"></div>
                <div class="info">
                    <div class="date">Постоянная акция</div>
                    <div class="name">Постоянная акция</div>
                    <div class="desc">Квартиры в новостройках от застройщика ГК "Амонд"! От 1,2 млн рублей от 34 500 ₽ м²</div>
                </div>
            </a>
            <a class="news-card">
                <div class="photo" style="background-image: url(./img/spec/03.jpg);"></div>
                <div class="info">
                    <div class="date">Постоянная акция</div>
                    <div class="name">Выгода на ремонт до 50000 рублей</div>
                    <div class="desc">Совместная акция с ПАО Сбербанк "Выгода на ремонт до 50 000 рублей" для держателей карт банка.</div>
                </div>
            </a>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
