<% var data = {
title: "Волгарь"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="section no-padding">
    <div class="container">
        <div class="breadcrumbs">
            <a class="item link" href="/"><i class="icon icon-backspace"></i></a>
            <a class="item link" href="/">главная</a>
        </div>
    </div>
</div>

<div class="section decorations gallery-modal-items padding-bottom-x2 tabs-container tabs-container__only-mobile no-padding-top">
    <div class="container">
        <h1 class="h1 color-text margin-bottom-x3">Виды отделки</h1>
        <div class="tabs-select-wrap hide-desktop">
            <select name="" id="" class="tabs-select select">
                <option value="1">Черновая</option>
                <option value="2">Предчистовая</option>
                <option value="3">Чистовая «Стандарт»</option>
            </select>
        </div>
        <div class="row">
            <div class="col w-33 tabs-block" data-tab="1">
                <a class="decoration-item decoration-item__trim"
                   href="#"
                   data-open-modal-button="gallery-modal" data-effect-type="open-modal-fade-effect"
                   data-images='{"images":[{"img":"./img/03.jpg","caption":"1Черновая отделка помещения — Включена в стоимость"},{"img":"./img/02.jpg","caption":"2Черновая отделка помещения — Включена в стоимость"}]}'>
                    <div class="photo-block">
                        <div class="photo" style="background-image: url(./img/01.jpg);"></div>
                        <div class="photo-info">
                            <span>Еще 10 фото</span>
                            <i class="icon-furpace"></i>
                        </div>
                    </div>
                    <div class="photo-info__bottom">
                        <div class="title">Черновая</div>
                        <div class="text">Включена в стоимость</div>
                    </div>
                </a>
            </div>
            <div class="col w-33 tabs-block" data-tab="2">
                <a class="decoration-item decoration-item__trim" data-open-modal-button="gallery-modal" data-effect-type="open-modal-fade-effect"
                   href="#"
                   data-images='{"images":[{"img":"./img/01.jpg","caption":"Черновая отделка помещения — Включена в стоимость"},{"img":"./img/02.jpg","caption":"Черновая отделка помещения — Включена в стоимость"}]}'>
                    <div class="photo-block">
                        <div class="photo" style="background-image: url(./img/02.jpg);"></div>
                        <div class="photo-info">
                            <span>Еще 24 фото</span>
                            <i class="icon-furpace"></i>
                        </div>
                    </div>
                    <div class="photo-info__bottom">
                        <div class="title">Предчистовая</div>
                        <div class="text">от 3 500 ₽ за м²</div>
                    </div>
                </a>
            </div>
            <div class="col w-33 tabs-block" data-tab="3">
                <a class="decoration-item decoration-item__trim" data-open-modal-button="gallery-modal" data-effect-type="open-modal-fade-effect"
                   href="#"
                   data-images='{"images":[{"img":"./img/01.jpg","caption":"Черновая отделка помещения — Включена в стоимость"},{"img":"./img/02.jpg","caption":"Черновая отделка помещения — Включена в стоимость"}]}'>
                    <div class="photo-block">
                        <div class="photo" style="background-image: url(./img/03.jpg);"></div>
                        <div class="photo-info">
                            <span>Еще 10 фото</span>
                            <i class="icon-furpace"></i>
                        </div>
                    </div>
                    <div class="photo-info__bottom">
                        <div class="title">Чистовая «Стандарт»</div>
                        <div class="text">от 7 500 ₽ за м²</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="container no-padding-mobile">
            <div class="trim-types">
                <div class="item">
                    <div class="top">
                        <div class="img">
                            <img src="./img/trim/1.svg" alt="">
                        </div>
                        <span>Стены</span>
                    </div>
                    <div class="bottom">
                        <div class="bottom-item tabs-block" data-tab="1">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов или стяжка, в зависимости от очереди строительства.
                        </div>
                        <div class="bottom-item tabs-block" data-tab="2">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов (работа+материал). Шпатлевка под обои (работа+материал). Грунтовка стен под обои (работа+материал). В ванной
                            комнате
                            шпатлевка под покраску (работа+материал).
                        </div>
                        <div class="bottom-item tabs-block" data-tab="3">
                            Выравнивание гипсовыми смесями и поклейка улучшенными бумажными обоями на всю высоту по выровненной поверхности, с установкой потолочного бордюра. В санузлах — покраска
                            улучшенной влагостойкой водоэмульсионной краской светлых тонов на всю высоту по выровненной поверхности.
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="top">
                        <div class="img">
                            <img src="./img/trim/2.svg" alt="">
                        </div>
                        <span>Полы</span>
                    </div>
                    <div class="bottom">
                        <div class="bottom-item tabs-block" data-tab="1">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов или стяжка, в зависимости от очереди строительства.
                        </div>
                        <div class="bottom-item tabs-block" data-tab="2">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов (работа+материал). Шпатлевка под обои (работа+материал). Грунтовка стен под обои (работа+материал). В ванной
                            комнате
                            шпатлевка под покраску (работа+материал).
                        </div>
                        <div class="bottom-item tabs-block" data-tab="3">
                            Выравнивание гипсовыми смесями и поклейка улучшенными бумажными обоями на всю высоту по выровненной поверхности, с установкой потолочного бордюра. В санузлах — покраска
                            улучшенной влагостойкой водоэмульсионной краской светлых тонов на всю высоту по выровненной поверхности.
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="top">
                        <div class="img">
                            <img src="./img/trim/3.svg" alt="">
                        </div>
                        <span>Отопление</span>
                    </div>
                    <div class="bottom">
                        <div class="bottom-item tabs-block" data-tab="1">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов или стяжка, в зависимости от очереди строительства.
                        </div>
                        <div class="bottom-item tabs-block" data-tab="2">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов (работа+материал). Шпатлевка под обои (работа+материал). Грунтовка стен под обои (работа+материал). В ванной
                            комнате
                            шпатлевка под покраску (работа+материал).
                        </div>
                        <div class="bottom-item tabs-block" data-tab="3">
                            Выравнивание гипсовыми смесями и поклейка улучшенными бумажными обоями на всю высоту по выровненной поверхности, с установкой потолочного бордюра. В санузлах — покраска
                            улучшенной влагостойкой водоэмульсионной краской светлых тонов на всю высоту по выровненной поверхности.
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="top">
                        <div class="img">
                            <img src="./img/trim/4.svg" alt="">
                        </div>
                        <span>Окна</span>
                    </div>
                    <div class="bottom">
                        <div class="bottom-item tabs-block" data-tab="1">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов или стяжка, в зависимости от очереди строительства.
                        </div>
                        <div class="bottom-item tabs-block" data-tab="2">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов (работа+материал). Шпатлевка под обои (работа+материал). Грунтовка стен под обои (работа+материал). В ванной
                            комнате
                            шпатлевка под покраску (работа+материал).
                        </div>
                        <div class="bottom-item tabs-block" data-tab="3">
                            Выравнивание гипсовыми смесями и поклейка улучшенными бумажными обоями на всю высоту по выровненной поверхности, с установкой потолочного бордюра. В санузлах — покраска
                            улучшенной влагостойкой водоэмульсионной краской светлых тонов на всю высоту по выровненной поверхности.
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="top">
                        <div class="img">
                            <img src="./img/trim/5.svg" alt="">
                        </div>
                        <span>Коммуникации</span>
                    </div>
                    <div class="bottom">
                        <div class="bottom-item tabs-block" data-tab="1">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов или стяжка, в зависимости от очереди строительства.
                        </div>
                        <div class="bottom-item tabs-block" data-tab="2">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов (работа+материал). Шпатлевка под обои (работа+материал). Грунтовка стен под обои (работа+материал). В ванной
                            комнате
                            шпатлевка под покраску (работа+материал).
                        </div>
                        <div class="bottom-item tabs-block" data-tab="3">
                            Выравнивание гипсовыми смесями и поклейка улучшенными бумажными обоями на всю высоту по выровненной поверхности, с установкой потолочного бордюра. В санузлах — покраска
                            улучшенной влагостойкой водоэмульсионной краской светлых тонов на всю высоту по выровненной поверхности.
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="top">
                        <div class="img">
                            <img src="./img/trim/6.svg" alt="">
                        </div>
                        <span>Электричество</span>
                    </div>
                    <div class="bottom">
                        <div class="bottom-item tabs-block" data-tab="1">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов или стяжка, в зависимости от очереди строительства.
                        </div>
                        <div class="bottom-item tabs-block" data-tab="2">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов (работа+материал). Шпатлевка под обои (работа+материал). Грунтовка стен под обои (работа+материал). В ванной
                            комнате
                            шпатлевка под покраску (работа+материал).
                        </div>
                        <div class="bottom-item tabs-block" data-tab="3">
                            Выравнивание гипсовыми смесями и поклейка улучшенными бумажными обоями на всю высоту по выровненной поверхности, с установкой потолочного бордюра. В санузлах — покраска
                            улучшенной влагостойкой водоэмульсионной краской светлых тонов на всю высоту по выровненной поверхности.
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="top">
                        <div class="img">
                            <img src="./img/trim/7.svg" alt="">
                        </div>
                        <span>Потолок</span>
                    </div>
                    <div class="bottom">
                        <div class="bottom-item tabs-block" data-tab="1">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов или стяжка, в зависимости от очереди строительства.
                        </div>
                        <div class="bottom-item tabs-block" data-tab="2">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов (работа+материал). Шпатлевка под обои (работа+материал). Грунтовка стен под обои (работа+материал). В ванной
                            комнате
                            шпатлевка под покраску (работа+материал).
                        </div>
                        <div class="bottom-item tabs-block" data-tab="3">
                            Выравнивание гипсовыми смесями и поклейка улучшенными бумажными обоями на всю высоту по выровненной поверхности, с установкой потолочного бордюра. В санузлах — покраска
                            улучшенной влагостойкой водоэмульсионной краской светлых тонов на всю высоту по выровненной поверхности.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="top">
                        <div class="img">
                            <img src="./img/trim/8.svg" alt="">
                        </div>
                        <span>Вентиляция</span>
                    </div>
                    <div class="bottom">
                        <div class="bottom-item tabs-block" data-tab="1">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов или стяжка, в зависимости от очереди строительства.
                        </div>
                        <div class="bottom-item tabs-block" data-tab="2">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов (работа+материал). Шпатлевка под обои (работа+материал). Грунтовка стен под обои (работа+материал). В ванной
                            комнате
                            шпатлевка под покраску (работа+материал).
                        </div>
                        <div class="bottom-item tabs-block" data-tab="3">
                            Выравнивание гипсовыми смесями и поклейка улучшенными бумажными обоями на всю высоту по выровненной поверхности, с установкой потолочного бордюра. В санузлах — покраска
                            улучшенной влагостойкой водоэмульсионной краской светлых тонов на всю высоту по выровненной поверхности.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="top">
                        <div class="img">
                            <img src="./img/trim/9.svg" alt="">
                        </div>
                        <span>Санузлы</span>
                    </div>
                    <div class="bottom">
                        <div class="bottom-item tabs-block" data-tab="1">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов или стяжка, в зависимости от очереди строительства.
                        </div>
                        <div class="bottom-item tabs-block" data-tab="2">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов (работа+материал). Шпатлевка под обои (работа+материал). Грунтовка стен под обои (работа+материал). В ванной
                            комнате
                            шпатлевка под покраску (работа+материал).
                        </div>
                        <div class="bottom-item tabs-block" data-tab="3">
                            Выравнивание гипсовыми смесями и поклейка улучшенными бумажными обоями на всю высоту по выровненной поверхности, с установкой потолочного бордюра. В санузлах — покраска
                            улучшенной влагостойкой водоэмульсионной краской светлых тонов на всю высоту по выровненной поверхности.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="top">
                        <div class="img">
                            <img src="./img/trim/10.svg" alt="">
                        </div>
                        <span>Двери</span>
                    </div>
                    <div class="bottom">
                        <div class="bottom-item tabs-block" data-tab="1">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов или стяжка, в зависимости от очереди строительства.
                        </div>
                        <div class="bottom-item tabs-block" data-tab="2">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов (работа+материал). Шпатлевка под обои (работа+материал). Грунтовка стен под обои (работа+материал). В ванной
                            комнате
                            шпатлевка под покраску (работа+материал).
                        </div>
                        <div class="bottom-item tabs-block" data-tab="3">
                            Выравнивание гипсовыми смесями и поклейка улучшенными бумажными обоями на всю высоту по выровненной поверхности, с установкой потолочного бордюра. В санузлах — покраска
                            улучшенной влагостойкой водоэмульсионной краской светлых тонов на всю высоту по выровненной поверхности.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="top">
                        <div class="img">
                            <img src="./img/trim/11.svg" alt="">
                        </div>
                        <span>Кухня</span>
                    </div>
                    <div class="bottom">
                        <div class="bottom-item tabs-block" data-tab="1">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов или стяжка, в зависимости от очереди строительства.
                        </div>
                        <div class="bottom-item tabs-block" data-tab="2">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов (работа+материал). Шпатлевка под обои (работа+материал). Грунтовка стен под обои (работа+материал). В ванной
                            комнате
                            шпатлевка под покраску (работа+материал).
                        </div>
                        <div class="bottom-item tabs-block" data-tab="3">
                            Выравнивание гипсовыми смесями и поклейка улучшенными бумажными обоями на всю высоту по выровненной поверхности, с установкой потолочного бордюра. В санузлах — покраска
                            улучшенной влагостойкой водоэмульсионной краской светлых тонов на всю высоту по выровненной поверхности.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="top">
                        <div class="img">
                            <img src="./img/trim/12.svg" alt="">
                        </div>
                        <span>Входная дверь</span>
                    </div>
                    <div class="bottom">
                        <div class="bottom-item tabs-block" data-tab="1">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов или стяжка, в зависимости от очереди строительства.
                        </div>
                        <div class="bottom-item tabs-block" data-tab="2">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов (работа+материал). Шпатлевка под обои (работа+материал). Грунтовка стен под обои (работа+материал). В ванной
                            комнате
                            шпатлевка под покраску (работа+материал).
                        </div>
                        <div class="bottom-item tabs-block" data-tab="3">
                            Выравнивание гипсовыми смесями и поклейка улучшенными бумажными обоями на всю высоту по выровненной поверхности, с установкой потолочного бордюра. В санузлах — покраска
                            улучшенной влагостойкой водоэмульсионной краской светлых тонов на всю высоту по выровненной поверхности.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="top">
                        <div class="img">
                            <img src="./img/trim/13.svg" alt="">
                        </div>
                        <span>Лоджия (балкон)</span>
                    </div>
                    <div class="bottom">
                        <div class="bottom-item tabs-block" data-tab="1">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов или стяжка, в зависимости от очереди строительства.
                        </div>
                        <div class="bottom-item tabs-block" data-tab="2">
                            Штукатурка кирпичных стен, кирпичных перегородок и откосов (работа+материал). Шпатлевка под обои (работа+материал). Грунтовка стен под обои (работа+материал). В ванной
                            комнате
                            шпатлевка под покраску (работа+материал).
                        </div>
                        <div class="bottom-item tabs-block" data-tab="3">
                            Выравнивание гипсовыми смесями и поклейка улучшенными бумажными обоями на всю высоту по выровненной поверхности, с установкой потолочного бордюра. В санузлах — покраска
                            улучшенной влагостойкой водоэмульсионной краской светлых тонов на всю высоту по выровненной поверхности.
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
