<% var data = {
title: "Волгарь"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="section no-padding">
    <div class="container">
        <div class="breadcrumbs">
            <a class="item link" href="/"><i class="icon icon-backspace"></i></a>
            <a class="item link" href="/">главная</a>
        </div>
    </div>
</div>

<div class="section decorations gallery-modal-items padding-bottom-x2 no-padding-top">
    <div class="container">
        <h1 class="h1 color-text margin-bottom-x3">Виды отделки</h1>
        <div class="row">
            <div class="col w-33 w-33-mobile">
                <a class="decoration-item"
                   data-images="{images: [{url: './img/01.jpg', caption: 'Черновая отделка помещения — Включена в стоимость'}, {url: './img/02.jpg', caption: 'Черновая отделка помещения — Включена в стоимость'}]}">
                    <div class="photo-block">
                        <div class="photo" style="background-image: url(./img/01.jpg);"></div>
                        <div class="photo-info">
                            <span>Еще 10 фото</span>
                            <i class="icon-furpace"></i>
                        </div>
                    </div>
                    <div class="photo-info__bottom">
                        <div class="title">Черновая</div>
                        <div class="text">Включена в стоимость</div>
                    </div>
                </a>
            </div>
            <div class="col w-33 w-33-mobile">
                <a class="decoration-item" data-images="{images: [{url: './img/01.jpg', caption: 'Черновая отделка помещения — Включена в стоимость'}, {url: './img/02.jpg', caption: 'Черновая отделка помещения — Включена в стоимость'}]}">
                    <div class="photo-block">
                        <div class="photo" style="background-image: url(./img/02.jpg);"></div>
                        <div class="photo-info">
                            <span>Еще 24 фото</span>
                            <i class="icon-furpace"></i>
                        </div>
                    </div>
                    <div class="photo-info__bottom">
                        <div class="title">Предчистовая</div>
                        <div class="text">от 3 500 ₽ за м²</div>
                    </div>
                </a>
            </div>
            <div class="col w-33 w-33-mobile">
                <a class="decoration-item" data-images="{images: [{url: './img/01.jpg', caption: 'Черновая отделка помещения — Включена в стоимость'}, {url: './img/02.jpg', caption: 'Черновая отделка помещения — Включена в стоимость'}]}">
                    <div class="photo-block">
                        <div class="photo" style="background-image: url(./img/03.jpg);"></div>
                        <div class="photo-info">
                            <span>Еще 10 фото</span>
                            <i class="icon-furpace"></i>
                        </div>
                    </div>
                    <div class="photo-info__bottom">
                        <div class="title">Чистовая «Стандарт»</div>
                        <div class="text">от 7 500 ₽ за м²</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
