<% var data = {
title: "Волгарь"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="section no-padding">
    <div class="container">

            <div class="item"><a href="http://dev.internetlab.ru/html/volgar/" target="_blank">Главная</a></div>
            <div class="item"><a href="http://dev.internetlab.ru/html/volgar/advantages.html" target="_blank">Преимущества</a></div>
            <div class="item"><a href="http://dev.internetlab.ru/html/volgar/advantages-inner.html" target="_blank">Преимущества-расположение</a></div>
            <div class="item"><a href="http://dev.internetlab.ru/html/volgar/advantages-sport.html" target="_blank">Преимущества-спорт</a></div>
            <div class="item"><a href="http://dev.internetlab.ru/html/volgar/advantages-infrastructure.html" target="_blank">Преимущества-инфраструктура</a></div>
            <div class="item"><a href="http://dev.internetlab.ru/html/volgar/advantages-comfort.html" target="_blank">Преимущества-благоустройство</a></div>
            <div class="item"><a href="http://dev.internetlab.ru/html/volgar/build-progress.html" target="_blank">Ход стоительства</a></div>
            <div class="item"><a href="http://dev.internetlab.ru/html/volgar/mortgage.html" target="_blank">Ипотека</a></div>
            <div class="item"><a href="http://dev.internetlab.ru/html/volgar/room-select.html" target="_blank">Выбор квартиры</a></div>
            <div class="item"><a href="http://dev.internetlab.ru/html/volgar/room-view.html" target="_blank">Выбор квартиры - детальная</a></div>
            <div class="item"><a href="http://dev.internetlab.ru/html/volgar/trim-types.html" target="_blank">Виды отделки</a></div>
            <div class="item"><a href="http://dev.internetlab.ru/html/volgar/documents.html" target="_blank">Документация</a></div>
            <div class="item"><a href="http://dev.internetlab.ru/html/volgar/contacts.html" target="_blank">Контакты</a></div>
            <div class="item"><a href="http://dev.internetlab.ru/html/volgar/about.html" target="_blank">О застройщике</a></div>
            <div class="item"><a href="http://dev.internetlab.ru/html/volgar/specials.html" target="_blank">Спецпредложения</a></div>
            <div class="item"><a href="http://dev.internetlab.ru/html/volgar/specials-detail.html" target="_blank">Спецпредложения - детальная</a></div>

    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
