.bp-slider {
    margin-bottom: 50px;
    .swiper-slide {
        width: auto;
    }
    .polygon-map-multiple {
        display: flex;
        width: 364px;
        border-radius: 4px;
        &:before {
            display: block;
            float: left;
            content: '';
            padding-top: 130%;
        }
    }
    .item {
        width: 496px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: .2s ease;
        text-decoration: none;
        .photo {
            width: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-background-size: cover;
            background-size: cover;
            border-radius: 4px;
            &:before {
                display: block;
                float: left;
                content: '';
                padding-top: 74%;
            }
        }
        .info {
            display: flex;
            flex-wrap: wrap;
            padding: 16px 0 0;
            .top {
                display: flex;
            }
            .date {
                font-size: 14px;
                line-height: 20px;
                color: $colorSecond;
            }
            .count {
                position: relative;
                display: flex;
                align-items: center;
                padding: 0 10px 0 23px;
                border-left: 1px solid $colorGrayLight;
                border-right: 1px solid $colorGrayLight;
                color: $colorTextGray;
                font-size: 14px;
                line-height: 20px;
                margin: 0 10px;
                span {
                    display: inline-block;
                    margin-left: 4px;
                }
                i {
                    position: absolute;
                    top: 2.5px;
                    left: 10px;
                    font-size: 13px;
                }
            }
            .desc {
                color: $colorTextGray;
                font-size: 14px;
                line-height: 20px;
            }
        }
        .name {
            width: 100%;
            font-weight: 800;
            font-size: 22px;
            line-height: 30px;
            color: $colorText;
            margin-top: 11px;
        }
        @include desktop {
            &:hover {
                .name {
                    color: $colorSecond;
                }
            }
        }

        @include mobile {
            flex-direction: row;
            align-items: flex-start;
            width: 100%;
            .photo {
                min-width: 102px;
                max-width: 200px;
                &:before {
                    padding-top: 119%;
                }
            }
            .info {
                padding-left: 12px;
                padding-top: 0;
                .top {
                    flex-wrap: wrap;
                }
                .desc {
                    margin-top: 5px;
                    width: 100%;
                    font-size: 12px;
                    line-height: 17px;
                }
                .count {
                    border: 0;
                    font-size: 12px;
                    line-height: 17px;
                    i {
                        top: 1px;
                    }
                }
                .date {
                    font-size: 12px;
                    line-height: 17px;
                }
            }
            .name {
                font-size: 14px;
                line-height: 20px;
                margin-top: 4px;
            }
        }
    }


    @include mobile {
        .polygon-map-multiple {
            display: none;
        }
    }
}
.bp-item {
    .h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        padding: 22px 0;
        i {
            display: none;
            color: $colorText;
        }
    }
    @include mobile {
        border-top: 1px solid $colorGrayBgDark;
        &:last-child {
            border-bottom: 1px solid $colorGrayBgDark;
        }
        .bp-slider {
            display: none;
            margin-bottom: 28px;
            .swiper-wrapper {
                display: flex;
                flex-direction: column;
                .swiper-slide + .swiper-slide {
                    margin-top: 25px;
                }
            }
        }
        .h3 {
            font-size: 18px;
            i {
                display: inline-block;
                padding-top: 1px;
            }
        }
    }


    &.bp-item__show {
        .bp-slider {
            display: block;
        }
        .h3 {
            i {
                transform: rotate(180deg);
            }
        }
    }
}
