@font-face {
    font-family: 'Manrope Bold';
    src: url('../fonts/Manrope-ExtraBold.eot');
    src: url('../fonts/Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Manrope-ExtraBold.woff') format('woff'),
    url('../fonts/Manrope-ExtraBold.ttf') format('truetype'),
    url('../fonts/Manrope-ExtraBold.svg#Manrope-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-ExtraBold.eot');
    src: url('../fonts/Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Manrope-ExtraBold.woff') format('woff'),
    url('../fonts/Manrope-ExtraBold.ttf') format('truetype'),
    url('../fonts/Manrope-ExtraBold.svg#Manrope-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Medium.eot');
    src: url('../fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Manrope-Medium.woff') format('woff'),
    url('../fonts/Manrope-Medium.ttf') format('truetype'),
    url('../fonts/Manrope-Medium.svg#Manrope-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
