.gallery-modal {
    .modal-content {
        position: relative;
        width: 100%;
        max-width: 1200px;
        height: calc(100% - 170px);
        margin: 85px auto !important;
        padding: 0;
        @include desktop-small {
            padding: 0 17px;
            max-width: 80%;
        }
        @include mobile {
            height: auto;
            padding: 115px 17px 80px !important;
        }
        .close {
            top: 0;
            right: -64px;
            background: transparent;
            i {
                color: $colorTextGray;
                font-size: 36px !important;
            }
            @include desktop {
                &:hover {
                    opacity: 0.7;
                }
            }
            @include mobile {
                top: 19px;
                right: 17px;

            }
        }
        .gallery-modal__arrow {
            position: absolute;
            top: calc(50% - 15px);
            font-size: 30px;
            color: $colorText;
            cursor: pointer;
            &.swiper-button-next {
                right: -56px;
            }
            &.swiper-button-prev {
                left: -56px;
            }
            &.swiper-button-disabled {
                opacity: 0.4;
            }
        }
        .gallery-modal__slider {
            width: 100%;
            height: 100%;
            border-radius: 2px;
            overflow: hidden;
            display: flex;
            align-items: center;
            @include mobile {
                height: auto;
                align-items: flex-start;
            }
            .swiper-wrapper {
                height: 100%;
            }
            .swiper-slide {
                display: flex;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center center;
                -webkit-background-size: contain;
                background-size: contain;
                @include mobile {
                    height: auto;
                    &:before {
                        display: block;
                        float: left;
                        content: '';
                        padding-top: 70%;
                    }
                }
            }
        }
        .gallery-modal__slider-caption {
            width: 100%;
            position: absolute;
            bottom: -35px;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .text {
                display: inline-block;
                margin-right: 15px;
                font-weight: 800;
                font-size: 16px;
                line-height: 23px;
                color: $colorSecond;
            }
            @include mobile {
                padding: 0 17px;
                flex-wrap: wrap;
                justify-content: flex-start;
                bottom: 0;
                .text {
                    display: block;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
        .gallery-modal-pagination {
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 20px;
            color: $colorText;
            i {
                display: inline-block;
                margin-right: 9px;
                font-size: 13px;
                color: $colorText;
                margin-top: 4px;
            }
            .swiper-pagination-current{
                margin-right: 2px;
            }
            .swiper-pagination-total {
                margin-left: 2px;

            }
        }
    }
}
