.tabs-block {
    display: none !important;
    &.active {
        display: block !important;
    }
}
.tabs-select-wrap {
    margin: 20px 0 30px;
    .choices {
        .choices__inner {
            background: $colorSecond;
            color: $colorWhite;
        }
        &[data-type*=select-one] {
            &:after {
                color: $colorWhite;
            }
        }
    }
}
.tabs-container__only-mobile.tabs-container {
    @include desktop {
        .tabs-block {
            display: block !important;
        }
    }
}

.sticky-row:not(.sticky-row-fixed) {
    .container {
        padding: 0 !important;
    }
}


@include desktop {
    .sticky-row-fixed {
        top: 100px;
        position: fixed;
        left: 0;
        width: 100%;
        background: #fff;
        .photo-block {
            display: none;
        }
        .photo-info__bottom {
            margin-top: 10px !important;
        }
    }
}
