.balloon-map {
    position: relative;
    background: $colorWhite;
    padding: 16px;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: inline-flex;
    min-width: 172px;
    align-items: flex-start;
    justify-content: space-between;
    span {
        font-weight: 800;
        font-size: 16px;
        line-height: 23px;
        color: $colorText;
    }
    .close {
        display: inline-block;
        margin-left: 10px;
        color: #546E7A;
        font-size: 17px;
        cursor: pointer;
    }
}
.placemark_layout_container {
    cursor: pointer;
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    z-index: 99;
}
