.mortgage-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;

    .bank-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        //height: 390px;
        width: calc(20% - 32px);
        padding: 25px;
        margin: 16px;
        /*overflow: hidden;*/
        border-radius: 3px;
        box-shadow: 0px 10px 20px rgba(51, 62, 70, 0.1);
        .item {
            margin-bottom: 20px;

            .logo {
                width: 100%;
                height: 80px;
                background-size: contain;
                background-position: left center;
                background-repeat: no-repeat;
            }

            .text {
                font-weight: 500;
                font-size: 14px;
                color: $colorTextGray;
                margin-bottom: 5px;
            }

            .value {
                font-size: 22px;
                font-family: "Manrope Bold";
                color: $colorText;

                sup {
                    color:#EF2626;
                }
            }

            .tooltip {
                position: relative;
                display: inline-block;
                text-align: center;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $colorSecond;
                font-size: 0;
                vertical-align: middle;
                user-select: none;
                cursor: pointer;
                margin-top: -3px;
                .icon {
                    font-size: 16px;
                    line-height: 20px;
                    color: #fff;
                    padding-top: 1px;
                }

                .tooltip-text {
                    display: none;
                    position: absolute;
                    width: 400px;
                    /*bottom: -140px;*/
                    top: 0;
                    right: -400px;
                    z-index: 10;
                    background: $colorGrayBgDark;
                    padding: 16px 17px;
                    p {
                        font-size: 12px;
                        line-height: 17px;
                        color: $colorText;
                        text-align: left;
                    }
                    p + p {
                        margin-top: 10px;
                    }
                }

                @include desktop {
                    &:hover {
                        .tooltip-text {
                            display: block;
                        }
                    }
                }

            }

            &:last-child {
                margin-bottom: 0;
            }
        }
        @include desktop {
            &:nth-child(5n + 5) {
                .item {
                    .tooltip {
                        .tooltip-text {
                            right: 20px;
                        }
                    }
                }
            }
        }
        @include desktop-medium {
            width: calc(25% - 32px);
            &:nth-child(5n + 5) {
                .item {
                    .tooltip {
                        .tooltip-text {
                            right: -400px;
                        }
                    }
                }
            }
            &:nth-child(4n + 4) {
                .item {
                    .tooltip {
                        .tooltip-text {
                            right: 20px;
                        }
                    }
                }
            }
        }

        @include desktop-small {
            width: calc(33.333333% - 32px);
            &:nth-child(4n + 4) {
                .item {
                    .tooltip {
                        .tooltip-text {
                            right: -400px;
                        }
                    }
                }
            }
            &:nth-child(3n + 3) {
                .item {
                    .tooltip {
                        .tooltip-text {
                            right: 20px;
                        }
                    }
                }
            }
        }

        /*@include mobile {
            width: calc(50% - 32px);
            &:nth-child(n) {
                .item {
                    .tooltip {
                        .tooltip-text {
                            right: -400px;
                        }
                    }
                }
            }
            &:nth-child(2n) {
                .item {
                    .tooltip {
                        .tooltip-text {
                            right: 20px;
                        }
                    }
                }
            }

        }

        @include only-mobile {
            width: calc(100% - 32px);
            position: relative;
            .item {
                .tooltip {
                    position: initial;
                    .tooltip-text {
                        width: 100%;
                        right: 0 !important;
                        bottom: auto;
                    }
                }
            }
        }*/

    }
    @include mobile {
        margin: 0;
        .bank-item {
            width: 100%;
            margin: 0 0 22px;
            padding: 0;
            background: $colorSectionBg;
            .item {
                background: $colorSectionBg;
                padding: 15px 16px 0;
                margin-bottom: 0;
                &:not(.item-head) {
                    display: none;
                    &.show-mobile {
                        display: block;
                    }
                }
                &:last-child {
                    padding-bottom: 17px;
                }

                .text {
                    font-size: 12px;
                    line-height: 17px;
                }

                .value {
                    font-size: 16px;
                    line-height: 23px;
                    color: $colorText;

                    sup {
                        color:#EF2626;
                    }
                }
                .tooltip {
                    width: 14px;
                    height: 14px;
                    position: initial;
                    .tooltip-text {
                        display: none;
                        width: 100%;
                        right: 0 !important;
                        bottom: auto;
                    }
                    .icon {
                        font-size: 12px;
                        line-height: 17px;
                        padding-top: 0;
                    }
                    &.tooltip-show {
                        .tooltip-text {
                            display: block;
                        }
                    }
                }
            }
            .item-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: $colorWhite !important;
                box-shadow: 0px 10px 24px rgba(51, 62, 70, 0.1);
                border-radius: 3px;
                padding: 18px 19px;
                margin-bottom: 0;
                margin-top: 0;
                .logo {
                    width: 120px;
                    height: 40px;
                    -webkit-background-size: contain;
                    background-size: contain;
                }
                .item-head-info {
                    display: flex;
                    align-items: center;
                    .value {
                        margin-right: 20px;
                    }
                    i {
                        display: inline-block;
                        color: $colorTextGray;
                        font-size: 12px;
                        width: 12px;
                        height: 12px;
                        padding-top: 2px;
                    }
                }
                &.show-mobile {
                    .item-head-info {
                        i {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}


#mortgage_view {
    @include mobile {
        .rooms-filter__summary {
            justify-content: center;
            padding: 14px 19px;
            .summary-item {
                width: 50% !important;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                .text {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 7px;
                }
            }
            .button {
                max-width: 375px;
            }
        }
    }
}
