.rooms-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;

    .rooms-item {
        display: flex;
        text-align: center;
        height: 600px;
        width: calc(25% - 32px);
        margin: 16px;
        overflow: hidden;
        border-radius: 3px;
        box-shadow: 0px 10px 20px rgba(51, 62, 70, 0.1);
        cursor: pointer;

        &.disabled {
            display: none;
        }

        &.studio {
            .item-head {
                .room-name {
                    font-size: 28px;
                }
            }
        }

        @include desktop-medium {
            width: calc(33.333333% - 32px);
        }

        @include desktop-small {
            width: calc(50% - 32px);
        }

        @include mobile {
            width: calc(100% - 32px);
        }

        @include desktop {
            &:hover {
                .inner {
                    .item-back {
                        opacity: 1;
                        z-index: 10;
                        transform: scale(1);

                        .baloon-item {
                            opacity: 1;
                            z-index: 10;
                            transform: translateY(0);
                        }
                    }
                }

            }
        }



        .inner {
            position: relative;
            z-index: 10;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            text-align: center;
            overflow: hidden;
            will-change: transform;

            .item-front, .item-back {
                font-size: 20px;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                justify-content: space-between;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                width: 100%;
                overflow: hidden;
                border-radius: 3px;
                transition: all .2s ease;
            }

            .item-front {
                z-index: 5;
            }

            .item-back {
                z-index: -1;
                opacity: 0;
                background-image: url(../img/rooms/123.jpg);
                background-size:cover;
                transform: scale(1.3);
                background-position: center center;
                background-repeat: no-repeat;

                .baloon-item {
                    z-index: -1;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    opacity: 0;
                    background-image: url(../img/rooms/baloon.svg);
                    background-size:cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    transition: all .3s ease-in-out;
                    transform: translateY(-15px);
                }
            }
        }

        .item-head {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            z-index: 10;
            padding: 20px;
            width: 100%;

            .room-name {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 20px;
                top: 20px;
                width: 65px;
                height: 65px;
                border-radius: 50%;
                background-color: $colorSectionBg;
                font-family: "Manrope Bold";
                font-weight: 800;
                font-size: 40px;
                line-height: 53px;
                color: $colorSecond;
            }

            .room-price-square {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding-left: 75px;
                width: 100%;

                .price {
                    font-family: "Manrope Bold";
                    font-weight: 800;
                    font-size: 28px;
                    line-height: 37px;
                    color: $colorText;
                }

                .square {
                    font-family: "Manrope Bold";
                    font-weight: 800;
                    font-size: 20px;
                    line-height: 29px;
                    color: $colorMain;

                    sup {
                        font-size: 13px;
                    }
                }
            }
        }

        .item-photo {
            position: relative;
            z-index: 10;
            height: 290px;
            width: 100%;

            .room-photo {
                display: block;
                position: absolute;
                z-index: 9;
                left: 20px;
                right: 20px;
                top: 0;
                bottom: 0;
                max-width: 100%;
                max-height: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }

        .item-info {
            width: 100%;
            padding: 20px;

            .item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }

                .name {
                    font-size: 16px;
                    line-height: 23px;
                    color: $colorTextGray;
                }

                .value {
                    font-weight: 800;
                    font-size: 16px;
                    line-height: 23px;
                    font-family: "Manrope Bold";
                    color: $colorText;
                }
            }
        }
    }
}
.sort-block-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .rooms-length {
        font-family: "Manrope Bold";
        font-weight: 800;
        font-size: 18px;
        line-height: 24px;
        color: $colorSecond;
        @include mobile {
            font-size: 14px;
            line-height: 20px;
            margin-top: -4px;
        }
    }

    .sort-block {
        display: flex;
        flex-direction: row;

        .sort-item {
            position: relative;
            font-family: "Manrope Bold";
            font-weight: 800;
            font-size: 14px;
            line-height: 20px;
            padding-right: 26px;
            margin: 18px 30px;
            color: $colorText;
            cursor: pointer;
            user-select: none;
            @include mobile {
                font-size: 12px;
                line-height:17px;
                padding-right: 22px;
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                background-size: 12px 12px;
                background-position: center center;
                background-repeat: no-repeat;
                width: 12px;
                height: 12px;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                background-image: url(../img/rooms/sort_none.svg);
            }

            &.active {
                &[data-sort=asc]{
                    &:before{
                        background-image: url(../img/rooms/sort_up.svg);
                    }

                }

                &[data-sort=desc]{
                    &:before{
                        background-image: url(../img/rooms/sort_down.svg);
                    }
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.apartment-view {
    display: flex;

    @include mobile {
        flex-direction: column;
    }
    .apartment-image {
        width: 100%;
        .image-wrapper {
            padding: 20px;
            height: 560px;
            max-width: 800px;
            margin: 0 auto;
            display: block;

            @include only-mobile {
                height: 350px;
            }

            img {
                max-width: 100%;
                max-height: 100%;
                display: block;
                margin: 0 auto;
            }
        }
    }
    .apartment-info {
        flex-shrink: 0;
        position: relative;
        width: 496px;

        @include mobile {
            width: 100%;
        }

        .full-price {
            font-size: 38px;
            color: $colorMain;
            font-weight: bold;
            line-height: 1;
            margin-bottom: 25px;

            @include mobile {
                font-size: 24px;
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;

            @include mobile {
                justify-content: flex-start;
            }

            @include tablet-mobile {
                flex-direction: column;
            }

            .button {
                text-decoration: none;
                white-space: nowrap;

                @include mobile {
                   margin-left: 0;
                   margin-right: 20px;
                }

                @include tablet-mobile {
                   width: 100%;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }

        .info-block{
            padding-top: 28px;
            padding-bottom: 12px;
            border: 1px dashed $colorGrayBgDark;
            border-left: 0;
            border-right: 0;
            box-sizing: border-box;
            .item {
                display: flex;
                height: 30px;
                margin-bottom: 12px;
                align-items: center;
                justify-content: space-between;

                .name {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1;
                    color: $colorTextGray;
                }
                .value {
                    font-family: "Manrope Bold";
                    font-weight: 800;
                    font-size: 20px;
                    line-height: 1;
                    color: $colorText;
                }
            }
        }

        .price-block {
            .discount-block {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;
                margin-bottom: 5px;

                .old-price {
                    font-family: "Manrope Bold";
                    color: $colorGrayLight;
                    font-weight: 800;
                    font-size: 20px;
                    line-height: 29px;
                }

                .discount-percent {
                    font-family: "Manrope Bold";
                    font-weight: 800;
                    font-size: 16px;
                    color: $colorWhite;
                    background-color: #FF0000;
                    border-radius: 9px;
                    padding: 3px;
                    margin-bottom: 5px;
                }
            }

            .price {
                font-family: "Manrope Bold";
                font-weight: 800;
                font-size: 36px;
                line-height: 36px;
                color: $colorSecond;
                margin-bottom: 10px;
            }

            .square-price {
                font-family: "Manrope Bold";
                font-weight: 800;
                font-size: 16px;
                line-height: 23px;
                color: $colorText;
            }
        }
    }
    .apartment-section-info{
        display: flex;
        position: relative;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        width: 150px;

        @include mobile {
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }

        .compass-wrap {
            position: relative;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .image-switcher {
            @include mobile {
                width: 100%;
            }
            .floor, .room {
                display: none;
            }

            &.show-floor {
                .floor {
                    display: flex;
                }
            }

            &.show-rooom {
                .room {
                    display: flex;
                }
            }
        }
    }
}

.compass-wrap {

    .compass {
        position: relative;
        display: block;
        width: 85px;
        height: 85px;
        background: url(../img/rooms/compass.svg) no-repeat center 50%;
        background-size: 65px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;

        .compass-symbol {
            position: absolute;
            font-size: 12px;
            font-weight: 500;
            width: 15px;
            line-height: 1;
            text-align: center;
            text-transform: uppercase;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            color: #7D7D7D;
            &.north {
                left: 50%;
                bottom: 105%;
                margin: -7px;
            }

            &.south {
                left: 50%;
                top: 105%;
                margin: -7px;
            }

            &.west {
                top: 50%;
                right: 95%;
                margin: -4px;
            }

            &.east {
                top: 50%;
                left: 95%;
                margin: -4px;
            }
        }
    }
}
