.switchers {
    display: block;
    border-radius: 3px;
    margin-bottom: 40px;
    font-size: 0;
    white-space: nowrap;
    @include mobile {
        display: block;
        white-space: nowrap;
        overflow-x: auto;
        margin: 0 -17px 25px -17px;
        padding: 0 17px 0 17px;
    }

    .item {
        display: inline-flex;
        position: relative;
        padding: 13px 10px;
        width: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        background-color: $colorWhite;
        color: $colorText;
        font-size: 16px;
        line-height: 23px;
        border: 1px solid $colorGrayLight;
        border-right: none;
        border-left: none;
        cursor: pointer;
        @include desktop-small {
            font-size: 14px;
            padding: 11px 8px;
        }

        @include desktop {
            &:hover {
                color: $colorSecond;
            }
        }


        &:before {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            width: 1px;
            top: 0;
            bottom: 0;
            background-color: $colorGrayBg;
        }

        &:last-child {
            &:before {
                display: none;
            }
        }

        &.active {
            background-color: $colorSecond;
            border-color: $colorSecond;
            color: $colorWhite;
            cursor: default;

            &:first-child {
                border-color: $colorSecond;
            }

            &:last-child {
                border-color: $colorSecond;
            }
        }

        &:first-child {
            border-radius: 3px 0 0 3px;
            border-left: 1px solid $colorGrayLight;
        }

        &:last-child {
            border-radius: 0 3px 3px 0;
            border-right: 1px solid $colorGrayLight;
        }
    }

    .item + .item {
        border-left: 1px solid $colorGrayBgDark;
    }
    .item.active + .item {
        border-left: 0;
    }

    &.switchers-small {
        border-radius: 4px;
        .item {
            font-weight: 800;
            font-size: 12px;
            line-height: 17px;
            padding: 8px 10px;
        }
    }
}
