$fontBase: 'Manrope', Arial, sans-serif;
$fontAccent: 'Manrope Bold', Arial, sans-serif;
$colorMain: #48B83D;
$colorMainActive: #48B83D;
$colorSecond: #1C81DE;
$colorSecondActive: #006ED3;
$colorRed:#FD5625;
$colorLightBlue:#3DA2FF;
$colorYellow:#FD5625;
$colorText: #526474;
$colorTextRGB: 82,100,116;
$colorTextGray: #7D8B96;
$colorWhite: #fff;
$colorBlack: #000;
$colorGrayBg: #E1EAF1;
$colorGrayMiddle: #E6E6E6;
$colorSectionBg: #F4F9FC;
$colorGrayLight: #AFBDC8;
$colorGrayBg: #F4F9FC;
$colorLink: #0075FF;
$colorError: #EF1B34;
$colorGreen: #25BB36;
$colorGreenLight: #2BE741;
$cubicBezierEffect: cubic-bezier(0.64, 0, 0.78, 0);
